<!-- About Section Start -->
<section class="about-section section-padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-5">
                <div class="about-content">
                    <h3 class="font-lg">Web-Based Digital Marketing</h3>
                </div>
            </div>

            <div class="col-xl-6">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by humour. There are many variations of passages of Lorem available.</p>
            </div>
        </div>
    </div>
</section>
<!-- About Section END -->