<!-- About Section Start -->
<section class="about-3 section-padding pt-60">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-6 col-lg-6">
                <div class="about-content">
                    <div class="section-heading mb-0">
                        <span class="subtitle">10 years Glory of success</span>
                        <h3>We are a global business <span class="text-style">solutions</span> provider.</h3>
                        <p class="mb-0">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 col-lg-6 pr-5">
                <div class="progess-wrapper mb-30 green-progress-bar mt-5 mt-lg-0">
                    <div class="skill-bar mb-20">
                        <div class="bar-title">
                            <h4>Branding & Design</h4>
                        </div>
                        <div class="progress">
                            <div class="progress-bar wow slideInLeft skill1" data-wow-duration="1s"
                                data-wow-delay=".6s" data-percent="74" >
                            </div>
                            <div class="progress-number"><span class="count">74</span>%</div>
                        </div>
                    </div>
                    <div class="skill-bar mb-20">
                        <div class="bar-title">
                            <h4>Web Development</h4>
                        </div>
                        <div class="progress">
                            <div class="progress-bar wow slideInLeft" data-wow-duration="1s"
                                data-wow-delay=".6s" data-percent="82" >
                            </div>
                            <div class="progress-number"><span class="count">82</span>%</div>
                        </div>
                    </div>
                    <div class="skill-bar mb-20">
                        <div class="bar-title">
                            <h4>Digital Marketing</h4>
                        </div>
                        <div class="progress">
                            <div class="progress-bar wow slideInLeft" data-wow-duration="1s"
                                data-wow-delay=".6s" data-percent="63"  >
                            </div>
                            <div class="progress-number"><span class="count">63</span>%</div>
                        </div>
                    </div>
                    <div class="skill-bar ">
                        <div class="bar-title">
                            <h4>Product Design & Develop</h4>
                        </div>
                        <div class="progress">
                            <div class="progress-bar wow slideInLeft" data-wow-duration="1s"
                                data-wow-delay=".6s" data-percent="85" >
                            </div>
                            <div class="progress-number"><span class="count">85</span>%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section END -->