<!-- About Section Start -->
<section class="about-section section-padding pt-0">
    <div class="rounded-border-shape"></div>
    <div class="triangle-shape"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about-content pr-50">
                    <div class="section-heading mt-4 mt-lg-0 ">
                        <span class="subheading">Bring words to action</span>
                        <h3 class="title_text mb-30 text_effect_wrap clearfix">
                            <span class="text_effect text_effect_left">Get Instant Access To </span>
                            <span class="text_effect text_effect_left">Expert solution</span>
                        </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by humour. There are many variations of passages of Lorem available.</p>
                    </div>

                    <div class="row">
                        <div class="col-xl-4">
                            <div class="fact-feature">
                                <h2>6x</h2>
                                <p>Increase in Search Traffic</p>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="fact-feature">
                                <h2>42%</h2>
                                <p>Increase in Mobile Visits</p>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="fact-feature">
                                <h2>100%</h2>
                                <p>Site conversion rate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 ">
                <div class="about-img2 js-tilt">
                    <img src="assets/images/about/about-2.png" alt="" class="img-fluid">
               </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section END -->