<!-- Feature Section Start -->
<section class="feature-section section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-6 col-lg-6">
                <div class="feature-content">
                    <div class="heading">
                        <span class="subheading">10 years Glory of success</span>
                        <h2 class="mb-20">We are a global business solutions provider.</h2>
                        <p class="mb-20">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by humour. There are many variations of passages of Lorem available.</p>
                    </div>
                    <a href="#" class="btn btn-main-2 rounded">Discover More<i class="fa fa-long-arrow-alt-right"></i></a>  
                </div>
            </div>

            <div class="col-xl-6">
                <div class="row g-3">
                    <div class="col-xl-6">
                        <div class="feature-intro">
                            <div class="feature-icon">
                                <i class="far fa-photo-video"></i>
                            </div>
                            <h4>Quality Education</h4>
                            <p>You pick the schedule.</p>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="feature-intro">
                            <div class="feature-icon">
                                <i class="fal fa-globe-europe"></i>
                            </div>
                            <h4>Flexible classes</h4>
                            <p>You pick the schedule.</p>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="feature-intro">
                            <div class="feature-icon">
                                <i class="fal fa-money-check-alt"></i>
                            </div>
                            <h4>Afforable Price</h4>
                            <p>You pick the schedule.</p>
                        </div>
                    </div>
                    
                    <div class="col-xl-6">
                        <div class="feature-intro">
                            <div class="feature-icon">
                                <i class="fal fa-user-headset"></i>
                            </div>
                            <h4>Life Time Support</h4>
                            <p>You pick the schedule.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section END -->