<div class="col-xl-6">
	<article class="blog-post-item">
		<div class="post-thumb">
			<img src="assets/images/blog/blog-07.jpg" alt="" class="img-fluid">
		</div>
		<div class="post-content">
			<div class="post-meta">
				<span class="post-date"><i class="fa fa-calendar-alt"></i>August 17, 2021</span>
				<span class="post-cat">// Design</span>
			</div>
			<h4 class="post-title"><a href="blog-single.html">How to become a best sale marketer in a month!</a></h4>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt facere adipisci tempora</p>
			<a href="#" class="learn-more">Learn More <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
	</article>
</div>

<div class="col-xl-6">
	<article class="blog-post-item">
		<div class="post-thumb">
			<img src="assets/images/blog/blog-09.jpg" alt="" class="img-fluid">
		</div>
		<div class="post-content">
			<div class="post-meta">
				<span class="post-date"><i class="fa fa-calendar-alt"></i>August 17, 2021</span>
				<span class="post-cat">// Design</span>
			</div>
			<h4 class="post-title"><a href="blog-single.html">How to become a best sale marketer in a month!</a></h4>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt facere adipisci tempora</p>
			<a href="#" class="learn-more">Learn More <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
	</article>
</div>

<div class="col-xl-6">
	<article class="blog-post-item">
		<div class="post-thumb">
			<img src="assets/images/blog/blog-08.jpg" alt="" class="img-fluid">
		</div>
		<div class="post-content">
			<div class="post-meta">
				<span class="post-date"><i class="fa fa-calendar-alt"></i>August 17, 2021</span>
				<span class="post-cat">// Design</span>
			</div>
			<h4 class="post-title"><a href="blog-single.html">How to become a best sale marketer in a month!</a></h4>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt facere adipisci tempora</p>
			<a href="#" class="learn-more">Learn More <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
	</article>
</div>

<div class="col-xl-6">
	<article class="blog-post-item">
		<div class="post-thumb">
			<img src="assets/images/blog/blog-07.jpg" alt="" class="img-fluid">
		</div>
		<div class="post-content">
			<div class="post-meta">
				<span class="post-date"><i class="fa fa-calendar-alt"></i>August 17, 2021</span>
				<span class="post-cat">// Design</span>
			</div>
			<h4 class="post-title"><a href="blog-single.html">How to become a best sale marketer in a month!</a></h4>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt facere adipisci tempora</p>
			<a href="#" class="learn-more">Learn More <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
	</article>
</div>


<div class="col-xl-6">
	<article class="blog-post-item">
		<div class="post-thumb">
			<img src="assets/images/blog/blog-09.jpg" alt="" class="img-fluid">
		</div>
		<div class="post-content">
			<div class="post-meta">
				<span class="post-date"><i class="fa fa-calendar-alt"></i>August 17, 2021</span>
				<span class="post-cat">// Design</span>
			</div>
			<h4 class="post-title"><a href="blog-single.html">How to become a best sale marketer in a month!</a></h4>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt facere adipisci tempora</p>
			<a href="#" class="learn-more">Learn More <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
	</article>
</div>

<div class="col-xl-6">
	<article class="blog-post-item">
		<div class="post-thumb">
			<img src="assets/images/blog/blog-10.jpg" alt="" class="img-fluid">
		</div>
		<div class="post-content">
			<div class="post-meta">
				<span class="post-date"><i class="fa fa-calendar-alt"></i>August 17, 2021</span>
				<span class="post-cat">// Design</span>
			</div>
			<h4 class="post-title"><a href="blog-single.html">How to become a best sale marketer in a month!</a></h4>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt facere adipisci tempora</p>
			<a href="#" class="learn-more">Learn More <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
	</article>
</div>
