<!-- Blog Section Start -->
<section class="blog-section section-padding">
    <div class="container">
        <div class="row">               
            <div class="col-lg-4 col-xl-4 col-md-6 ">
                <article class="blog-post-item">
                    <div class="post-thumb">
                        <img src="assets/images/blog/s-1.jpg" alt="" class="img-fluid">
                    </div>

                    <div class="post-content">
                        <div class="post-meta">
                            <span class="post-cat"><a href="#">// marketing</a></span>
                            <span class="post-date"><i class="fa fa-calendar-alt"></i>August 17, 2021</span>
                        </div>
                        <h4 class="post-title mb-10"><a href="blog-single.html">How to become a best sale marketer in a month!</a></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic debitis, exercitationem consequuntur incidunt</p>
                        <a href="#" class="learn-more">Learn More <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 col-xl-4 col-md-6">
                <article class="blog-post-item">
                    <div class="post-thumb">
                        <img src="assets/images/blog/s-2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="post-content">
                        <div class="post-meta">
                            <span class="post-cat"><a href="#">// Design</a></span>
                            <span class="post-date"><i class="fa fa-calendar-alt"></i>August 17, 2021</span>
                        </div>
                        <h4 class="post-title  mb-10"><a href="blog-single.html">How to become a best sale marketer in a month!</a></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic debitis, exercitationem consequuntur incidunt</p>
                        <a href="#" class="learn-more">Learn More <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 col-xl-4 col-md-6">
                <article class="blog-post-item">
                    <div class="post-thumb">
                        <img src="assets/images/blog/s-3.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="post-content ">
                        <div class="post-meta">
                            <span class="post-cat"><a href="#">// Development</a></span>
                            <span class="post-date"><i class="fa fa-calendar-alt"></i>August 17, 2021</span>
                        </div>
                        <h4 class="post-title mb-10"><a href="blog-single.html">How to become a best sale marketer in a month!</a></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic debitis, exercitationem consequuntur incidunt</p>
                        <a href="#" class="learn-more">Learn More <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->