<!-- Blog Section Start -->
<section class="blog-2 section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="heading text-center mb-50">
                    <span class="subheading">Blog news</span>
                    <h2 class="font-lg">Latest Blog Article</h2>
                </div>
            </div>
        </div>
       
        <div class="row">               
            <div class="col-lg-4 col-md-6">
                <div class="blog-item mb-5 mb-lg-0">
                    <div class="post-thumb">
                        <img src="assets/images/blog/blog-07.jpg" alt="" class="img-fluid">
                    </div>
                    
                    <div class="blog-content">
                        <div class="post-meta">
                            <span class="post-author">Written by <a href="#" >Admin</a></span>
                            <span class="post-date"><i class="fa fa-calendar-alt mr-2"></i>May 9, 2021</span>
                        </div>
    
                        <h3 class="post-title"><a href="#">Powerful tips to grow business manner</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-item mb-5 mb-lg-0">
                    <div class="post-thumb">
                        <img src="assets/images/blog/blog-08.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="blog-content">
                        <div class="post-meta">
                            <span class="post-author">Written by <a href="#" >Admin</a></span>
                            <span class="post-date"><i class="fa fa-calendar-alt mr-2"></i>May 9, 2021</span>
                        </div>
    
                        <h3 class="post-title"><a href="#">Powerful tips to grow effective manner</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="post-thumb">
                        <img src="assets/images/blog/blog-09.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="blog-content">
                        <div class="post-meta">
                            <span class="post-author">Written by <a href="#" >Admin</a></span>
                            <span class="post-date"><i class="fa fa-calendar-alt mr-2"></i>May 9, 2021</span>
                        </div>
    
                        <h3 class="post-title"><a href="#">Python may be you completed online </a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->