<!-- Servcie section Start -->
<section class="case-study section-padding pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section-heading mb-30 text-center">
                    <span class="subheading">10 years Glory of success</span>
                    <h3 class="title_text mb-30 text_effect_wrap clearfix title-lg mb-30">
                        <span class="text_effect text_effect_left">Web Based Perfect</span>
                        <span class="text_effect text_effect_left">Business Solution</span>
                    </h3>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-xl-4">
                <div class="case-study-item mb-5 mb-lg-0">
                    <img src="assets/images/about/s-1.jpg" alt="" class="img-fluid">
                    <h4>Digital Product Marketing</h4>
                    <p>Behind the word mountains, far from the countries Vokalia</p>
                </div>
            </div> 

            <div class="col-lg-4 col-md-6 col-xl-4">
                <div class="case-study-item mb-5 mb-lg-0">
                    <img src="assets/images/about/s-2.jpg" alt="" class="img-fluid">
                    <h4>Design & Development</h4>
                    <p>Behind the word mountains, far from the countries Vokalia</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xl-4">
                <div class="case-study-item">
                    <img src="assets/images/about/s-3.jpg" alt="" class="img-fluid">
                    <h4>Content Marketing</h4>
                    <p>Behind the word mountains, far from the countries Vokalia</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Servcie section end -->