<!-- Clients logo Section Start -->
<section class="client-logo-2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="heading mb-40">
                    <h3 class="mb-3">Trusted by companies all Over The World</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xl-2">
                <div class="client-logo">
                    <a href="#"><img src="assets/images/clients/logo1.png" alt="" class="img-fluid"></a>
                </div>
            </div>
             <div class="col-lg-3 col-sm-6 col-xl-2">
                <div class="client-logo">
                    <a href="#"><img src="assets/images/clients/logo2.png" alt="" class="img-fluid"></a>
                </div>
            </div>
             <div class="col-lg-3 col-sm-6 col-xl-2">
                <div class="client-logo">
                   <a href="#"> <img src="assets/images/clients/logo3.png" alt="" class="img-fluid"></a>
                </div>
            </div>
             <div class="col-lg-3 col-sm-6 col-xl-2">
                <div class="client-logo">
                    <a href="#"><img src="assets/images/clients/logo4.png" alt="" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xl-2">
                <div class="client-logo">
                    <a href="#"><img src="assets/images/clients/logo5.png" alt="" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Clients logo Section End -->