<!-- Clients logo Section Start -->
<section class="cta-2 section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="section-heading text-center">
                    <h4>10,000+ Trusted Clients All Over The World</h4>
                </div>
            </div>
        </div>

        <div class="row me-auto justify-content-center">
            <div class="col-lg col-sm-6 col-xl-2">
                <div class="client-logo">
                    <a href="#"><img src="assets/images/clients/logo1.png" alt="" class="img-fluid"></a>
                </div>
            </div>
             <div class="col-lg col-sm-6 col-xl-2">
                <div class="client-logo">
                    <a href="#"><img src="assets/images/clients/logo2.png" alt="" class="img-fluid"></a>
                </div>
            </div>
             <div class="col-lg col-sm-6 col-xl-2">
                <div class="client-logo">
                   <a href="#"> <img src="assets/images/clients/logo3.png" alt="" class="img-fluid"></a>
                </div>
            </div>
             <div class="col-lg col-sm-6 col-xl-2">
                <div class="client-logo">
                    <a href="#"><img src="assets/images/clients/logo4.png" alt="" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xl-2">
                <div class="client-logo">
                    <a href="#"><img src="assets/images/clients/logo5.png" alt="" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Clients logo Section End -->