<!-- COunter Section start -->
<section class="counter-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-10">
                <div class="section-heading">
                    <span class="subheading">Maximize your potentials</span>
                    <h3>We break down barriers so teams can focus on what matters – learning together to create 
                        online career you love.</h3>
                </div>
            </div>
        </div>
       
        <div class="row" >
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <h6 class="mb-4 text-white">Instructors</h6>
                    <div class="count mb-3">
                        <span class="counter fw-bold">90</span>
                    </div>
                    <p>Tempus imperdiet nulla malpellen</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <h6 class="mb-4 text-white">Total Courses</h6>
                    <div class="count mb-3">
                        <span class="counter fw-bold">1450</span>
                    </div>
                    <p>Tempus imperdiet nulla malpellen</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">         
                <div class="counter-item">
                    <h6 class="mb-4 text-white">Registered Enrolls</h6>
                    <div class="count mb-3">
                        <span class="counter fw-bold">5697</span>
                    </div>
                    <p>Tempus imperdiet nulla malpellen</p>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <h6 class="mb-4 text-white">Satisfaction</h6>           
                    <div class="count mb-3">
                        <span class="counter fw-bold">100</span>%
                    </div>
                    <p>Tempus imperdiet nulla malpellen</p>
                </div>
            </div>
       </div>
    </div>
</section>
<!-- COunter Section END -->

