
<!--  Course category -->
<section class="course-category-3">
    <div class="container">
        <div class="row">
            <div class="col-xl">
                <div class="single-course-category style-3 bg-1">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon1.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Data Science & Analytics</a>
                        </h4>
                        <span>7 Courses</span>
                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="single-course-category style-3 bg-2">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon2.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Artificial Intellegence</a>
                        </h4>
                        <span>7 Courses</span>
                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="single-course-category style-3 bg-3">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon3.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Algebra Math calculation</a>
                        </h4>
                        <span>7 Courses</span>
                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="single-course-category style-3 bg-2">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon4.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Web Development</a>
                        </h4>
                        <span>7 Courses</span>
                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="single-course-category style-3 bg-1">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon6.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Digital Marketing & SEO</a>
                        </h4>
                        <span>7 Courses</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Course category End -->