<!--  Course style 1 -->
<section class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="heading mb-50 text-center">
                    <span class="subheading">Trending Now</span>
                    <h2>Latest Popular Courses</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-4">
                <div class="course-grid course-style-5 bg-white">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/img_01.jpg" alt="" class="img-fluid">
                            <div class="course-price">$300</div>
                        </div>
                    </div>

                    <div class="course-content">
                        <div class="course-meta meta-style-1">
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                            <span class="label">Intermediate</span>
                        </div>
                        <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                    
                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                            <a href="#" class="rounded-btn"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 col-lg-4">
                <div class="course-grid course-style-5 bg-white">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/img_02.jpg" alt="" class="img-fluid">
                            <div class="course-price">$30.00</div>
                        </div>
                    </div>

                    <div class="course-content">
                        <div class="course-meta meta-style-1">
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                            <span class="label">Intermediate</span>
                        </div>
                        <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                    
                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                           <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                           <a href="#" class="rounded-btn"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 col-lg-4">
                <div class="course-grid course-style-5 bg-white">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/img_03.jpg" alt="" class="img-fluid">
                            <div class="course-price">$30.00</div>
                        </div>
                    </div>

                    <div class="course-content">
                        <div class="course-meta meta-style-1">
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                            <span class="label">Intermediate</span>
                        </div>
                        <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                    
                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                            <a href="#" class="rounded-btn"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-xl-3 col-md-6 col-lg-4">
                <div class="course-grid course-style-5 bg-white">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/img_05.jpg" alt="" class="img-fluid">
                            <div class="course-price">$300.00</div>
                        </div>
                    </div>

                    <div class="course-content">
                        <div class="course-meta meta-style-1">
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                            <span class="label">Intermediate</span>
                        </div>
                        <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                    
                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                            <a href="#" class="rounded-btn"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="text-center">
                    <a href="#" class="btn btn-grey-outline rounded">View All Courses</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Course style 1 End -->


