<!--  Course style 1 -->

<section class="section-padding pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="heading mb-50 text-center">
                    <span class="subheading">Course Trending</span>
                    <h2>Trending course over now</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="course-grid course-style-3">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/img_01.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
    
                    <div class="course-content">
                        <div class="course-meta d-flex justify-content-between mb-20">
                            <span class="category">Design</span>
                            <span class="label"><i class="fas fa-signal me-2"></i>Intermediate</span>
                        </div>
                        <h3 class="course-title mb-20"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                     
                        <div class="course-meta-info">
                            <div class="d-flex align-items-center">
                                <div class="author me-3">
                                    <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                    By <a href="#">Josephin</a>
                                </div>
                                <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                            </div>
                        </div>

                       <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <div class="course-price">$300</div>
                            <a href="#" class="btn btn-main-outline btn-radius btn-sm">Buy Now <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
             </div>
            <!-- COURSE END -->

            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="course-grid course-style-3">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/img_02.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
    
                    <div class="course-content">
                        <div class="course-meta d-flex justify-content-between mb-20">
                            <span class="category">Design</span>
                            <span class="label"><i class="fas fa-signal me-2"></i>Intermediate</span>
                        </div>
                        <h3 class="course-title mb-20"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                     
                       <div class="course-meta-info">
                            <div class="d-flex align-items-center">
                                <div class="author me-3">
                                    <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                    By <a href="#">Josephin</a>
                                </div>
                                <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                            </div>
                       </div>

                       <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <div class="course-price">$300</div>
                            <a href="#" class="btn btn-main-outline btn-radius btn-sm">Buy Now <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
             </div>
            <!-- COURSE END -->
            
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="course-grid course-style-3">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/img_03.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
    
                    <div class="course-content">
                        <div class="course-meta d-flex justify-content-between mb-20">
                            <span class="category">Design</span>
                            <span class="label"><i class="fas fa-signal me-2"></i>Intermediate</span>
                        </div>
                        <h3 class="course-title mb-20"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                     
                        <div class="course-meta-info">
                            <div class="d-flex align-items-center">
                                <div class="author me-3">
                                    <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                    By <a href="#">Josephin</a>
                                </div>
                                <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                            </div>
                       </div>

                       <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <div class="course-price">$300</div>
                            <a href="#" class="btn btn-main-outline btn-radius btn-sm">Buy Now <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
             </div>
            <!-- COURSE END -->
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="text-center">
                    Want to help people learn, grow and achieve more in life? <a href="#" class="text-style2 text-decoration-underline fw-bold">Join now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Course style 1 End -->


