<section class="course-page-header  page-header-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-xl-8">
              <div class="course-header-wrapper mb-0 bg-transparent">
                  <h1 class="mb-3">Mastering PHP from zero to hero</h1>
                    <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur elit. Vesti at bulum nec odio.
                        Dacere agemusque constantius concessis elit videmusne quia stoici constructio dissimillimas audiunt homerus commendationes
                    </p>
                    
                    <div class="course-header-meta">
                        <ul class="inline-list list-info">
                            <li>
                                <div class="course-author">
                                    <img src="assets/images/course/course-author.png" alt="#" >Madge Alvarez
                                </div>
                            </li>

                            <li>
                              <div class="list-rating">
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                    <span class="rating-count">(19)</span>
                                </div>
                            </li>
                            <li><i class="fa fa-user me-2"></i>11 enrolled students</li>
                        </ul>
                    </div>
              </div>
          </div>
      </div>
    </div>
</section>