<!--  Course category -->
<section class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="heading mb-50 text-center">
                    <span class="subheading">Course Trending</span>
                    <h2>Trending course over now</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl">
                <div class="single-course-category style-1">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon1.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Data Science & Analytics</a>
                        </h4>

                        <p class="course-count">5 courses</p>
                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="single-course-category style-1">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon2.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Artificial Intellegence</a>
                        </h4>

                        <p class="course-count">3 courses</p>
                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="single-course-category style-1">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon3.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Algebra Math calculation</a>
                        </h4>

                        <p class="course-count">7 courses</p>
                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="single-course-category style-1">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon4.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Web Development</a>
                        </h4>

                        <p class="course-count">10 courses</p>
                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="single-course-category style-1">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon6.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">DIgital Marketing & SEO</a>
                        </h4>

                        <p class="course-count">10 courses</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Course category End -->


<!--  Course category -->
<section class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="heading mb-50 text-center">
                    <span class="subheading">Course Trending</span>
                    <h2>Trending course over now</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3">
                <div class="single-course-category style-2">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon1.png" alt="" class="img-fluid">
                        <!-- <i class="far fa-abacus"></i> -->
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Data Science & Analytics</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="single-course-category style-2">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon6.png" alt="" class="img-fluid">
                        <!-- <i class="far fa-abacus"></i> -->
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Web Development</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="single-course-category style-2">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon3.png" alt="" class="img-fluid">
                        <!-- <i class="far fa-abacus"></i> -->
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Artificial Intellegence</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="single-course-category style-2">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon2.png" alt="" class="img-fluid">
                        <!-- <i class="far fa-abacus"></i> -->
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">DIgital marketing</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Course category End -->

<!--  Course category -->
<section class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="heading mb-50 text-center">
                    <span class="subheading">Course Trending</span>
                    <h2>Trending course over now</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl">
                <div class="single-course-category style-3">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon1.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Data Science & Analytics</a>
                        </h4>

                        <!-- <p class="course-count">5 courses</p> -->
                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="single-course-category style-3">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon2.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Artificial Intellegence</a>
                        </h4>

                        <!-- <p class="course-count">3 courses</p> -->
                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="single-course-category style-3">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon3.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Algebra Math calculation</a>
                        </h4>

                        <!-- <p class="course-count">7 courses</p> -->
                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="single-course-category style-3">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon4.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Web Development</a>
                        </h4>

                        <!-- <p class="course-count">10 courses</p> -->
                    </div>
                </div>
            </div>

            <div class="col-xl">
                <div class="single-course-category style-3">
                    <div class="course-cat-icon">
                        <img src="assets/images/icon/icon6.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">DIgital Marketing & SEO</a>
                        </h4>

                        <!-- <p class="course-count">10 courses</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Course category End -->