<div class="course-latest">
    <h4 class="mb-4">Popular Courses</h4>
    <ul class="recent-posts course-popular">
        <li>
            <div class="widget-post-thumb">
                <a href="#"><img src="assets/images/course/course-1.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="widget-post-body">
                <h6> <a href="#">Wordpress Theme Development</a></h6>
                <h5>$120</h5>
            </div>
        </li>
        <li>
            <div class="widget-post-thumb">
                <a href="#"><img src="assets/images/course/course-2.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="widget-post-body">
                <h6> <a href="#">mastering Photoshop for beginners</a></h6>
                <h5>$100</h5>
            </div>
        </li>
        <li>
            <div class="widget-post-thumb">
                <a href="#"><img src="assets/images/course/course-3.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="widget-post-body">
                <h6> <a href="#">Photography mastering adobe tool</a></h6>
                <h5>$100</h5>
            </div>
        </li>
    </ul>
</div>