
<section class="tutori-course-single tutori-course-layout-3 page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                @@include('blocks/course-tab-overview3.htm')
                @@include('blocks/course-tab-topics.htm')
                @@include('blocks/course-tab-review3.htm')
            </div>

            <div class="col-xl-4 col-lg-5">
                @@include('blocks/course-sidebar-3.htm')
                @@include('blocks/course-sidebar-widget.htm')
           </div>
        </div>
    </div>
</section>
