<!-- Course Sidebar start -->
<div class="course-sidebar course-sidebar-2 mt-5 mt-lg-0">
    <div class="course-widget course-details-info">
        <div class="course-thumbnail">
            <img src="assets/images/course/img_02.jpg" alt="" class="img-fluid w-100">
        </div>

        <div class="price-header">
            <h2 class="course-price">$120.00 <span>$150</span></h2>
            <span class="course-price-badge onsale">39% off</span>
        </div>

        <ul class="course-sidebar-list">
            <li>
                <div class="d-flex justify-content-between align-items-center">
                    <span><i class="far fa-sliders-h"></i>Level</span>
                    Beginnner
                </div>
            </li>

                <li>
                <div class="d-flex justify-content-between align-items-center">
                    <span><i class="fas fa-play-circle"></i>Lectures</span>
                    2
                </div>
            </li>
                <li>
                <div class="d-flex justify-content-between align-items-center">
                    <span><i class="far fa-user"></i>Students</span>
                    20
                </div>
            <li>
                <div class="d-flex justify-content-between align-items-center">
                    <span><i class="far fa-clock"></i>Duration</span>
                    6 hours
                </div>
            </li>
                <li>
                <div class="d-flex justify-content-between align-items-center">
                    <span><i class="far fa-globe"></i>Language</span>
                    English
                </div>
            </li>

            <li>
                <div class="d-flex justify-content-between align-items-center">
                    <span><i class="far fa-calendar"></i>Updated </span>
                    October 15, 2022
                </div>
            </li>
        </ul>
        <div class="buy-btn">
            <button class="button button-enroll-course btn btn-main-2 rounded">
                <i class="far fa-shopping-cart me-2"></i> Enroll Course 
            </button>
        </div>

        <div class="course-meterial">
            <h4 class="mb-3">Material Includes</h4>
            <ul class="course-meterial-list">
                <li><i class="fal fa-long-arrow-right"></i>Videos</li>
                <li><i class="fal fa-long-arrow-right"></i>Files For Development</li>
                <li><i class="fal fa-long-arrow-right"></i>Documentation Files</li>
            </ul>
        </div>
    </div>

    <div class="course-latest">
        <h4 class="mb-4">Popular Courses</h4>
        <ul class="recent-posts course-popular">
            <li>
                <div class="widget-post-thumb">
                    <a href="#"><img src="assets/images/course/course-1.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="widget-post-body">
                    <h6> <a href="#">Wordpress Theme Development</a></h6>
                    <h5>$120</h5>
                </div>
            </li>
            <li>
                <div class="widget-post-thumb">
                    <a href="#"><img src="assets/images/course/course-2.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="widget-post-body">
                    <h6> <a href="#">mastering Photoshop for beginners</a></h6>
                    <h5>$100</h5>
                </div>
            </li>
            <li>
                <div class="widget-post-thumb">
                    <a href="#"><img src="assets/images/course/course-3.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="widget-post-body">
                    <h6> <a href="#">Photography mastering adobe tool</a></h6>
                    <h5>$100</h5>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Course Sidebar end -->