
 @@include('blocks/course-header.htm')
<section class="tutori-course-single tutori-course-layout-3 page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="course-header-wrapper">
                    <div class="course-thumb">
                        <img src="assets/images/course/lg-course.jpg" alt="" class="img-fluid w-100">
                    </div>

                    <div class="course-header">
                        <h2 class="course-title">Mastering Design with Elementor and Elementor Pro </h2>
                        <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur elit. Vesti at bulum nec odio.
                            Dacere agemusque constantius concessis elit videmusne quia stoici constructio dissimillimas audiunt homerus commendationes
                        </p>
                        
                        <div class="course-header-meta">
                            <ul class="inline-list list-info">
                                <li>
                                    <div class="course-author">
                                        <img src="assets/images/course/course-author.png" alt="#" >Madge Alvarez
                                    </div>
                                </li>

                                <li>
                               <li>
                                <div class="list-rating">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                     <span class="rating-count">(19)</span>
                                 </div>
                               </li>
                                <li>11 enrolled students</li>
                            </ul>
                        </div>
                    </div>
                </div>
               

                @@include('blocks/course-tab-topics.htm')
                @@include('blocks/course-tab-review.htm')
            </div>

            <div class="col-xl-4">
                @@include('blocks/course-sidebar-3.htm')
                @@include('blocks/course-sidebar-widget.htm')
           </div>
        </div>
    </div>
</section>
