
<!--  Course category -->
<section class="section-padding-top course-category ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4">
                <div class="heading">
                    <span class="subtitle">Popular Courses</span>
                    <h2 class="mb-30">Explore a variety of quality courses and gain new skills to
                        head start a successful career</h2>
                    
                    <a href="#" class="btn btn-main rounded">All Categories</a>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="category-slider owl-carousel owl-theme">
                    <div class="single-course-category style-3 ">
                        <div class="course-cat-icon ">
                            <img src="assets/images/icon/icon1.png" alt="" class="img-fluid">
                        </div>
                        <div class="course-cat-content">
                            <h4 class="course-cat-title">
                                <a href="#">Data Science & Analytics</a>
                            </h4>
                        </div>
                    </div>

                    <div class="single-course-category style-3">
                        <div class="course-cat-icon">
                            <img src="assets/images/icon/icon1.png" alt="" class="img-fluid">
                        </div>
                        <div class="course-cat-content">
                            <h4 class="course-cat-title">
                                <a href="#">Data Science & Analytics</a>
                            </h4>
                        </div>
                    </div>


                    <div class="single-course-category style-3">
                        <div class="course-cat-icon">
                            <img src="assets/images/icon/icon3.png" alt="" class="img-fluid">
                        </div>
                        <div class="course-cat-content">
                            <h4 class="course-cat-title">
                                <a href="#">Algebra Math calculation</a>
                            </h4>
                        </div>
                    </div>

                    <div class="single-course-category style-3">
                        <div class="course-cat-icon">
                            <img src="assets/images/icon/icon4.png" alt="" class="img-fluid">
                        </div>
                        <div class="course-cat-content">
                            <h4 class="course-cat-title">
                                <a href="#">Web Development</a>
                            </h4>
                        </div>
                    </div>

                    <div class="single-course-category style-3">
                        <div class="course-cat-icon">
                            <img src="assets/images/icon/icon6.png" alt="" class="img-fluid">
                        </div>
                        <div class="course-cat-content">
                            <h4 class="course-cat-title">
                                <a href="#">DIgital Marketing & SEO</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Course category End -->