<!--  Course style 1 -->

<section class="section-padding pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="heading mb-50 text-center">
                    <span class="subheading">Course Trending</span>
                    <h2>Trending course over now</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4">
                <div class="course-grid course-style-5 bg-grey">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/course_image4.jpg" alt="" class="img-fluid">
                            <div class="course-price">$300 <span>.00</span></div>
                        </div>
                    </div>

                    <div class="course-content">
                        <div class="course-meta meta-style-1">
                            <span class="label"><i class="fas fa-signal"></i> Intermediate</span>
                            <span class="duration">6 hours</span>
                            <span class="lesson">20 lessons</span>
                        </div>
                        <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                    
                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="course-grid course-style-5 bg-grey">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/course_image7.jpg" alt="" class="img-fluid">
                            <div class="course-price">$30 <span>.00</span></div>
                        </div>
                    </div>

                    <div class="course-content">
                        <div class="course-meta meta-style-1">
                            <span class="label"><i class="fas fa-signal"></i> Intermediate</span>
                            <span class="duration">6 hours</span>
                            <span class="lesson">20 lessons</span>
                        </div>
                        <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                    
                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="course-grid course-style-5 bg-grey">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/course_image8.jpg" alt="" class="img-fluid">
                            <div class="course-price">$30 <span>.00</span></div>
                        </div>
                    </div>

                    <div class="course-content">
                        <div class="course-meta meta-style-1">
                            <span class="label"><i class="fas fa-signal"></i> Intermediate</span>
                            <span class="duration">6 hours</span>
                            <span class="lesson">20 lessons</span>
                        </div>
                        <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                    
                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-xl-4">
                <div class="course-grid course-style-5 bg-grey">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/course_image4.jpg" alt="" class="img-fluid">
                            <div class="course-price">$300 <span>.00</span></div>
                        </div>
                    </div>

                    <div class="course-content">
                        <div class="course-meta meta-style-1">
                            <span class="label"><i class="fas fa-signal"></i> Intermediate</span>
                            <span class="duration">6 hours</span>
                            <span class="lesson">20 lessons</span>
                        </div>
                        <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                    
                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="course-grid course-style-5 bg-grey">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/course_image7.jpg" alt="" class="img-fluid">
                            <div class="course-price">$30 <span>.00</span></div>
                        </div>
                    </div>

                    <div class="course-content">
                        <div class="course-meta meta-style-1">
                            <span class="label"><i class="fas fa-signal"></i> Intermediate</span>
                            <span class="duration">6 hours</span>
                            <span class="lesson">20 lessons</span>
                        </div>
                        <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                    
                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="course-grid course-style-5 bg-grey">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/course_image8.jpg" alt="" class="img-fluid">
                            <div class="course-price">$30 <span>.00</span></div>
                        </div>
                    </div>

                    <div class="course-content">
                        <div class="course-meta meta-style-1">
                            <span class="label"><i class="fas fa-signal"></i> Intermediate</span>
                            <span class="duration">6 hours</span>
                            <span class="lesson">20 lessons</span>
                        </div>
                        <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                    
                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="text-center">
                    <a href="#" class="btn btn-main rounded">Vew All Courses</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Course style 1 End -->


