<!--  Course style 1 -->

<section class="section-padding pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="heading mb-50 text-center">
                    <span class="subheading">Course Trending</span>
                    <h2>Trending course over now</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-4">
                <div class="course-grid tooltip-style bg-shadow">
                    <div class="course-header">
                        <img src="assets/images/course/course_image8.jpg" alt="" class="img-fluid">
                    </div>

                    <div class="course-content">
                        <div class="course-meta">
                            <span class="label"><i class="fas fa-signal"></i>Intermediate</span>
                            <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                        </div>
                        <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>

                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <div class="course-price">$30 <span>.00</span></div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="course-hover-content">
                        <div class="course-price">$30 <span>.00</span></div>
                        <h3 class="course-title mb-20 mt-10"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                        <div class="course-meta">
                            <span class="label"><i class="fas fa-user-alt"></i>Josephin</span>
                            <span class="lesson"> <i class="far fa-file-alt"></i> 20 lessons</span>
                        </div>
                        <p class="mb-20">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, culpa. At voluptatem autem ipsam modi deleniti saepe tempore necessitatibus harum.</p>
                        <a href="#" class="btn btn-main btn-sm rounded">Details <i class="fal fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- COURSE END -->

            <div class="col-xl-4">
                <div class="course-grid tooltip-style bg-shadow">
                <div class="course-header">
                    <img src="assets/images/course/course_image8.jpg" alt="" class="img-fluid">
                </div>

                <div class="course-content">
                    <div class="course-meta">
                        <span class="label"><i class="fas fa-signal"></i>Intermediate</span>
                        <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                    </div>
                    <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>

                    <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                        <div class="course-price">$30 <span>.00</span></div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="course-hover-content">
                    <div class="course-price">$30 <span>.00</span></div>
                    <h3 class="course-title mb-20 mt-10"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                    <div class="course-meta">
                        <span class="label"><i class="fas fa-user-alt"></i>Josephin</span>
                        <span class="lesson"> <i class="far fa-file-alt"></i> 20 lessons</span>
                    </div>
                    <p class="mb-20">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, culpa. At voluptatem autem ipsam modi deleniti saepe tempore necessitatibus harum.</p>
                    <a href="#" class="btn btn-main btn-sm rounded">Details <i class="fal fa-angle-right"></i></a>
                </div>
            </div>
            </div>
            <!-- COURSE END -->
            
            <div class="col-xl-4">
                <div class="course-grid tooltip-style bg-shadow">
                    <div class="course-header">
                        <img src="assets/images/course/course_image8.jpg" alt="" class="img-fluid">
                    </div>

                    <div class="course-content">
                        <div class="course-meta">
                            <span class="label"><i class="fas fa-signal"></i>Intermediate</span>
                            <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                        </div>
                        <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>

                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                            <div class="course-price">$30 <span>.00</span></div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="course-hover-content">
                        <div class="course-price">$30 <span>.00</span></div>
                        <h3 class="course-title mb-20 mt-10"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                        <div class="course-meta">
                            <span class="label"><i class="fas fa-user-alt"></i>Josephin</span>
                            <span class="lesson"> <i class="far fa-file-alt"></i> 20 lessons</span>
                        </div>
                        <p class="mb-20">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, culpa. At voluptatem autem ipsam modi deleniti saepe tempore necessitatibus harum.</p>
                        <a href="#" class="btn btn-main btn-sm rounded">Details <i class="fal fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- COURSE END -->
            


        </div>

            
        <div class="row">
            <div class="col-xl-12">
                <div class="text-center">
                    <a href="#" class="btn btn-main rounded">Vew All Courses</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Course style 1 End -->


