<!--  Course style 1 -->

<section class="section-padding pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="heading mb-50 text-center">
                    <span class="subheading">Course Trending</span>
                    <h2 class="font-lg">Explore popular courses</h2>
                </div>
            </div>
        </div>

        <div class="row">
             <div class="col-xl-6 col-sm-6">
                <div class="single-course style-2 bg-grey border-0">
                    <div class="row g-0 align-items-center">
                        <div class="col-xl-5">
                            <div class="course-thumb" style="background:url(../assets/images/course/course_image8.jpg)">
                                <span class="category">Design</span>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="course-content">
                                <div class="course-price">$30 <span>.00</span></div>
                                <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                                <div class="course-meta d-flex align-items-center">
                                    <div class="author">
                                        <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                      <a href="#">Josephin</a>
                                    </div>
                                    <span class="students"><i class="far fa-user-alt"></i>51 Students</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

             <div class="col-xl-6 col-sm-6">
                <div class="single-course style-2 bg-grey border-0">
                    <div class="row g-0 align-items-center">
                        <div class="col-xl-5">
                            <div class="course-thumb" style="background:url(../assets/images/course/course_image5.jpg)">
                                <span class="category">Design</span>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="course-content">
                                <div class="course-price">$30 <span>.00</span></div>
                                <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                                <div class="course-meta d-flex align-items-center">
                                    <div class="author">
                                        <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                      <a href="#">Josephin</a>
                                    </div>
                                    <span class="students"><i class="far fa-user-alt"></i>51 Students</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

             <div class="col-xl-6 col-sm-6">
                <div class="single-course style-2 bg-grey border-0">
                    <div class="row g-0 align-items-center">
                        <div class="col-xl-5">
                            <div class="course-thumb" style="background:url(../assets/images/course/course_image7.jpg)">
                                <span class="category">Design</span>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="course-content">
                                <div class="course-price">$30 <span>.00</span></div>
                                <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                                <div class="course-meta d-flex align-items-center">
                                    <div class="author">
                                        <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                      <a href="#">Josephin</a>
                                    </div>
                                    <span class="students"><i class="far fa-user-alt"></i>51 Students</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

             <div class="col-xl-6 col-sm-6">
                <div class="single-course style-2 bg-grey border-0">
                    <div class="row g-0 align-items-center">
                        <div class="col-xl-5">
                            <div class="course-thumb" style="background:url(../assets/images/course/course_image4.jpg)">
                                <span class="category">Design</span>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="course-content">
                                <div class="course-price">$30 <span>.00</span></div>
                                <h3 class="course-title"> <a href="#">Data Competitive Strategy law & Organization </a> </h3>
                                <div class="course-meta d-flex align-items-center">
                                    <div class="author">
                                        <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                      <a href="#">Josephin</a>
                                    </div>
                                    <span class="students"><i class="far fa-user-alt"></i>51 Students</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
            
        <div class="row">
            <div class="col-xl-12">
                <div class="text-center">
                    Want to help people learn, grow and achieve more in life? <a href="#" class="text-style2 text-decoration-underline fw-bold">Vew All Courses</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Course style 1 End -->


