<!--  Course style 1 -->

<section class="section-padding bg-grey pb-70">
    <div class="container-fluid container-grid">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="heading mb-100 text-center">
                    <span class="subheading">Course Trending</span>
                    <h2>Trending course over now</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl col-lg-3 col-md-6">
                <div class="course-grid course-style-4 bg-white mb-80 mb-xl-0">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/img_01.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
    
                    <div class="course-content">
                        <span class="course-price">$450</span>

                       <div class="d-flex align-items-center">
                            <div class="author me-3">
                                <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                <a href="#">Josephin</a>
                            </div>
                       </div>
                        
                        <h3 class="course-title"> <a href="#">Adobe Lightroom: Photo Editing Masterclass</a> </h3>
                        <div class="course-meta">
                            <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                        </div>
                    </div>
                </div>
             </div>
            <!-- COURSE END -->

            <div class="col-xl col-lg-3 col-md-6">
                <div class="course-grid course-style-4 bg-white mb-80 mb-xl-0">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/img_02.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
    
                    <div class="course-content">
                        <span class="course-price">$220</span>
                        <div class="d-flex align-items-center">
                            <div class="author me-3">
                                <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                <a href="#">Josephin</a>
                            </div>
                       </div>
                        
                        <h3 class="course-title"> <a href="#">Writing With Flair: Become a Writer</a> </h3>
                        <div class="course-meta">
                            <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                        </div>
                    </div>
                </div>
             </div>
            <!-- COURSE END -->
            
            <div class="col-xl col-lg-3 col-md-6">
                <div class="course-grid course-style-4 bg-white mb-80 mb-xl-0">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/img_03.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
    
                    <div class="course-content">
                        <span class="course-price">$300</span>
                        <div class="d-flex align-items-center">
                            <div class="author me-3">
                                <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                <a href="#">Josephin</a>
                            </div>
                       </div>
                        
                        <h3 class="course-title"> <a href="#">Cinematography Course: Shoot Better Video </a> </h3>
                        <div class="course-meta">
                            <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                        </div>
                    </div>
                </div>
             </div>
            <!-- COURSE END -->
            
            <div class="col-xl col-lg-3 col-md-6">
                <div class="course-grid course-style-4 bg-white mb-80 mb-xl-0">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/img_06.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
    
                    <div class="course-content">
                        <span class="course-price">$300</span>
                        <div class="d-flex align-items-center">
                            <div class="author me-3">
                                <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                <a href="#">Josephin</a>
                            </div>
                       </div>
                        
                        <h3 class="course-title"> <a href="#">Mastering Data Competitive Strategy   </a> </h3>
                        <div class="course-meta">
                            <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl col-lg-3 col-md-6">
                <div class="course-grid course-style-4 bg-white mb-80 mb-xl-0">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="assets/images/course/img_03.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
    
                    <div class="course-content">
                        <span class="course-price">$300</span>
                        <div class="d-flex align-items-center">
                            <div class="author me-3">
                                <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                <a href="#">Josephin</a>
                            </div>
                       </div>
                        
                        <h3 class="course-title"> <a href="#">Cinematography Course: Shoot Better Video </a> </h3>
                        <div class="course-meta">
                            <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                        </div>
                    </div>
                </div>
             </div>
            <!-- COURSE END -->
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="text-center">
                    Want to help people learn, grow and achieve more in life? 
                    <a href="#" class="text-style2 text-decoration-underline fw-bold">All Courses</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Course style 1 End -->


