    <!--course section start-->
    <section class="section-padding course-filter-section" >
        <div class="container">
            <div class="row align-items-center justify-content-between mb-30">
                <div class="col-xl-12">
                    <div class="heading text-center mb-40">
                        <span class="subheading">Course Trending</span>
                        <h2 class="font-lg">Explore popular courses</h2>
                    </div>
                
                    <div class="filter-wrap text-center">
                        <ul class="course-filter ">
                            <li class="active"><a href="#" data-filter="*"> All</a></li>
                            <li><a href="#" data-filter=".cat1">printing</a></li>
                            <li><a href="#" data-filter=".cat2">Web</a></li>
                            <li><a href="#" data-filter=".cat3">illustration</a></li>
                            <li><a href="#" data-filter=".cat4">media</a></li>
                            <li><a href="#" data-filter=".cat5">crafts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid container-padding">        
            <div class="row course-gallery justify-content-center">
                
                <div class="course-item cat1 cat5 col-lg-3 col-md-6 col-sm-6">
                    <div class=" course-style-5 bg-white">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_05.jpg" alt="" class="img-fluid">
                                <div class="course-price">$300</div>
                            </div>
                        </div>
    
                        <div class="course-content">
                            <div class="course-meta meta-style-1">
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                                <span class="label">Beginner</span>
                            </div>
                            <h4> <a href="#">Emotional Intelligence at Work: Learn Emotions</a> </h4>
                        
                            <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                                <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                                <a href="#" class="rounded-btn"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item cat2 cat4 col-lg-3 col-md-6 col-sm-6">
                    <div class=" course-style-5 bg-white">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_03.jpg" alt="" class="img-fluid">
                                <div class="course-price">$300</div>
                            </div>
                        </div>
    
                        <div class="course-content">
                            <div class="course-meta meta-style-1">
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                                <span class="label">Intermediate</span>
                            </div>
                            <h4> <a href="#">SQL-Data Analysis: Crash Course For Masters</a> </h4>
                        
                            <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                                <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                                <a href="#" class="rounded-btn"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="course-item cat3 cat2 col-lg-3 col-md-6 col-sm-6">
                    <div class=" course-style-5 bg-white">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_02.jpg" alt="" class="img-fluid">
                                <div class="course-price">Free</div>
                            </div>
                        </div>
    
                        <div class="course-content">
                            <div class="course-meta meta-style-1">
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                                <span class="label">Intermediate</span>
                            </div>
                            <h4> <a href="#">Learn How to Start an Amazon FBA Store</a> </h4>
                        
                            <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                               <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                               <a href="#" class="rounded-btn"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item cat5 cat1 col-lg-3 col-md-6 col-sm-6">
                    <div class=" course-style-5 bg-white">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_01.jpg" alt="" class="img-fluid">
                                <div class="course-price">$300</div>
                            </div>
                        </div>
    
                        <div class="course-content">
                            <div class="course-meta meta-style-1">
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                                <span class="label">Expert</span>
                            </div>
                            <h4> <a href="#">Writing With Flair: Become a Top Rated Writer</a> </h4>
                        
                            <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                                <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                                <a href="#" class="rounded-btn"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item cat3 cat2 col-lg-3 col-md-6 col-sm-6">
                    <div class=" course-style-5 bg-white">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_03.jpg" alt="" class="img-fluid">
                                <div class="course-price">$240</div>
                            </div>
                        </div>
    
                        <div class="course-content">
                            <div class="course-meta meta-style-1">
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                                <span class="label">Intermediate</span>
                            </div>
                            <h4> <a href="#">Cinematography Course: Shoot Better Video </a> </h4>
                        
                            <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                                <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                                <a href="#" class="rounded-btn"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item cat3 cat2 col-lg-3 col-md-6 col-sm-6">
                     <div class=" course-style-5 bg-white">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_01.jpg" alt="" class="img-fluid">
                                <div class="course-price">$300</div>
                            </div>
                        </div>

                        <div class="course-content">
                            <div class="course-meta meta-style-1">
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                                <span class="label">Intermediate</span>
                            </div>
                            <h4> <a href="#">Data Competitive Strategy law & Organization </a> </h4>
                        
                            <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                                <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                                <a href="#" class="rounded-btn"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item cat3 cat2 col-lg-3 col-md-6 col-sm-6">
                    <div class=" course-style-5 bg-white">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_06.jpg" alt="" class="img-fluid">
                                <div class="course-price">$460</div>
                            </div>
                        </div>
    
                        <div class="course-content">
                            <div class="course-meta meta-style-1">
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                                <span class="label">Expert</span>
                            </div>
                            <h4> <a href="#">Adobe Lightroom Classic : Photo Editing Masterclass</a> </h4>
                        
                            <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                                <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                                <a href="#" class="rounded-btn"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="course-item cat3 cat2 col-lg-3 col-md-6 col-sm-6">
                    <div class=" course-style-5 bg-white">
                       <div class="course-header">
                           <div class="course-thumb">
                               <img src="assets/images/course/img_04.jpg" alt="" class="img-fluid">
                               <div class="course-price">$300</div>
                           </div>
                       </div>

                       <div class="course-content">
                           <div class="course-meta meta-style-1">
                               <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                               <span class="label">Intermediate</span>
                           </div>
                           <h4> <a href="#">The Complete Salesforce Classic Certification </a> </h4>
                       
                           <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                               <span class="students"><i class="far fa-user-alt me-2"></i>51 Students</span>
                               <a href="#" class="rounded-btn"><i class="fa fa-long-arrow-right"></i></a>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
        <!--course-->
    </section>
    <!--course section end-->