    <!--course section start-->
    <section class="section-padding page" >
        <div class="course-top-wrap mb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <p>Showing 1-6 of 8 results</p>
                    </div>
    
                    <div class="col-lg-4">
                        <div class="topbar-search">
                            <form method="get" action="#">
                                <input type="text"  placeholder="Search our courses" class="form-control">
                                <label><i class="fa fa-search"></i></label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="course-grid course-style-4 bg-white mb-80">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_01.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
        
                        <div class="course-content">
                            <span class="course-price">$450</span>
    
                           <div class="d-flex align-items-center">
                                <div class="author me-3">
                                    <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                    <a href="#">Josephin</a>
                                </div>
                           </div>
                            
                            <h3 class="course-title"> <a href="#">Adobe Lightroom: Photo Editing Masterclass</a> </h3>
                            <div class="course-meta">
                                <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                            </div>
                        </div>
                    </div>
                 </div>
                <!-- COURSE END -->
    
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="course-grid course-style-4 bg-white mb-80">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_02.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
        
                        <div class="course-content">
                            <span class="course-price">$220</span>
                            <div class="d-flex align-items-center">
                                <div class="author me-3">
                                    <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                    <a href="#">Josephin</a>
                                </div>
                           </div>
                            
                            <h3 class="course-title"> <a href="#">Writing With Flair: Become a Writer</a> </h3>
                            <div class="course-meta">
                                <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                            </div>
                        </div>
                    </div>
                 </div>
                <!-- COURSE END -->
                
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="course-grid course-style-4 bg-white mb-80">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_03.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
        
                        <div class="course-content">
                            <span class="course-price">$300</span>
                            <div class="d-flex align-items-center">
                                <div class="author me-3">
                                    <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                    <a href="#">Josephin</a>
                                </div>
                           </div>
                            
                            <h3 class="course-title"> <a href="#">Cinematography Course: Shoot Better Video </a> </h3>
                            <div class="course-meta">
                                <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                            </div>
                        </div>
                    </div>
                 </div>
                <!-- COURSE END -->
                
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="course-grid course-style-4 bg-white">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_06.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
        
                        <div class="course-content">
                            <span class="course-price">$300</span>
                            <div class="d-flex align-items-center">
                                <div class="author me-3">
                                    <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                    <a href="#">Josephin</a>
                                </div>
                           </div>
                            
                            <h3 class="course-title"> <a href="#">Data Competitive Strategy  </a> </h3>
                            <div class="course-meta">
                                <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="course-grid course-style-4 bg-white mb-80 mb-xl-0">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_02.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
        
                        <div class="course-content">
                            <span class="course-price">$220</span>
                            <div class="d-flex align-items-center">
                                <div class="author me-3">
                                    <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                    <a href="#">Josephin</a>
                                </div>
                           </div>
                            
                            <h3 class="course-title"> <a href="#">Writing With Flair: Become a Writer</a> </h3>
                            <div class="course-meta">
                                <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                            </div>
                        </div>
                    </div>
                 </div>
                <!-- COURSE END -->
                
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="course-grid course-style-4 bg-white mb-80 mb-xl-0">
                        <div class="course-header">
                            <div class="course-thumb">
                                <img src="assets/images/course/img_03.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
        
                        <div class="course-content">
                            <span class="course-price">$300</span>
                            <div class="d-flex align-items-center">
                                <div class="author me-3">
                                    <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                    <a href="#">Josephin</a>
                                </div>
                           </div>
                            
                            <h3 class="course-title"> <a href="#">Cinematography Course: Shoot Better Video </a> </h3>
                            <div class="course-meta">
                                <span class="duration"><i class="far fa-user-alt"></i>6 hours</span>
                                <span class="lessons"><i class="far fa-play-circle me-2"></i>26 Lectures</span>
                            </div>
                        </div>
                    </div>
                 </div>
                <!-- COURSE END -->
            </div>
        </div>
        <!--course-->
    </section>
    <!--course section end-->