<!-- Course start -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="heading">
                    <span class="subheading">Popular Courses</span>
                    <h2 class="mb-30">Explore a variety of quality courses and gain new skills to
                        head start a successful career</h2>
                    
                    <a href="#" class="btn btn-main">All Courses</a>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="course-grid course-style-1">
                            <div class="course-header">
                               <div class="course-thumb">
                                    <img src="assets/images/course/course_image4.jpg" alt="" class="img-fluid">
                               </div>
                            </div>
            
                            <div class="course-content">
                                <div class="price">$30</div>
                                <div class="author">
                                    <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                    <a href="#">Josephin</a>
                                </div>
                                <h3 class="course-title"> <a href="#">Strategy law and Organization Foundation </a> </h3>
                                <div class="course-meta">
                                    <span class="duration"><i class="far fa-clock"></i>6 hours</span>
                                    <span class="lesson"> <i class="far fa-file-alt"></i> 20 lessons</span>
                               <span class="students"><i class="far fa-user-alt"></i>51</span>
                                </div>
                            </div>
                        </div>
                     </div>
                     
                     <div class="col-xl-6">
                        <div class="course-grid course-style-1">
                            <div class="course-header">
                               <div class="course-thumb">
                                    <img src="assets/images/course/course_image5.jpg" alt="" class="img-fluid">
                               </div>
                            </div>
            
                            <div class="course-content">
                                <div class="price">$30</div>
                                <div class="author">
                                    <img src="assets/images/course/course-2.jpg" alt="" class="img-fluid">
                                    <a href="#">Josephin</a>
                                </div>
                                <h3 class="course-title"> <a href="#">Strategy law and Organization Foundation </a> </h3>
                                <div class="course-meta">
                                    <span class="duration"><i class="far fa-clock"></i>6 hours</span>
                                    <span class="lesson"> <i class="far fa-file-alt"></i> 20 lessons</span>
                               <span class="students"><i class="far fa-user-alt"></i>51</span>
                                </div>
                            </div>
                        </div>
                     </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Course End -->