
<!-- Section cta start -->
<section class="cta-intro section-padding-btm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-12">
                <div class="cta-inner-wrapper">
                   <div class="row justify-content-between align-items-center">
                       <div class="col-xl-8 col-lg-8 col-md-6">
                            <div class="section-heading mb-3 mb-lg-0 text-center text-md-start">
                                <span class="text-color">Let Us Help</span>
                                <h4>Finding Your Right Courses</h4>
                            </div>
                       </div>

                       <div class="col-xl-4 col-lg-4 col-md-6">
                           <div class="text-center text-md-end">
                                <a href="#" class="btn btn-main rounded">Get started</a>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section cta End -->