<!-- CTA Sidebar start -->
<section class="cta-5 mb--120">
    <div class="container">
        <div class="cta-inner2 ">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-6">
                    <div class="cta-content ">
                        <span class="subheading">Not sure where to start?</span>
                        <h2 class="mb-4 mb-xl-0"> Want to know Special Offers & Updates of new courses?</h2>
                    </div>
                </div>
                <div class="col-xl-6 text-lg-end">
                    <div class="subscribe-form">
                        <form action="#" class="form">
                            <input type="text" class="form-control" placeholder="What do you want to learn?">
                            <a href="#" class="btn btn-main rounded"> Search</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CTA Sidebar end -->