<!-- CTA Sidebar start -->
<section class="cta-2">
    <div class="container">
        <div class="cta-inner">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-6">
                    <div class="cta-content mb-0">
                        <span class="subheading">Have a question, Not sure where to start?</span>
                        <h2>Grow Your Brand with Us today</h2>
                    </div>
                </div>
                <div class="col-xl-4 text-lg-end mt-5 mt-lg-0">
                    <a href="#" class="btn btn-white-border btn-radius"><i class="fa fa-phone"></i>+1 (888) 123-4567</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CTA Sidebar end -->