<!-- CTA Sidebar start -->
<section class="cta">
    <div class="container">
        <div class="row cta-inner-section g-0">
            <div class="col-xl-6 col-lg-6">
                <div class="info-box style-1">
                    <span class="subtitle"># Become a Instructor</span>
                    <h2 class="font-lg mb-20 mt-10">Become a Instructor at Tutori</h2>
                    <a href="#" class="btn btn-main-2 rounded">Apply Now <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6">
                <div class="info-box">
                    <span class="subtitle"># Want to join </span>
                    <h2 class="font-lg mb-20 mt-10">Not Sure Where to Begin?</h2>
                    <a href="#" class="btn btn-main rounded">Get Started <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CTA Sidebar end -->