<!--  Feature Intro Start -->
<section class="features-intro">
    <div class="container">
        <div class="feature-inner">
            <div class="row">
                <div class="col-xl-4 col-lg-4 ">
                    <div class="feature-item feature-style-left">
                        <div class="feature-icon icon-bg-1">
                            <i class="fad fa-users"></i>
                        </div>
                        <div class="feature-text">
                            <h4>Get Certificate</h4>
                            <p>Lorem ipsum dolor seat ameat dui too consecteture</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4">
                    <div class="feature-item feature-style-left">
                        <div class="feature-icon icon-bg-2">
                            <i class="far fa-file-certificate"></i>
                        </div>
                        <div class="feature-text">
                            <h4>Skilled Instructors</h4>
                            <p>Lorem ipsum dolor seat ameat dui too consecteture</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4">
                    <div class="feature-item feature-style-left">
                        <div class="feature-icon icon-bg-3">
                            <i class="fa fa-video"></i>
                        </div>
                        <div class="feature-text">
                            <h4>Online Classes</h4>
                            <p>Lorem ipsum dolor seat ameat dui too consecteture</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Feature Intro End -->

