<!-- Feature start -->
<section class="features-2 pt-150">
    <div class="container">
       <div class="row">
            <div class="col-xl-4">
                <div class="feature-2">
                    <i class="flaticon-strategic-plan"></i>
                    <h3>Simple eLearning</h3>
                    <p>You're in full control of your course, instructors, awards system and everything related to your eLearning platform. </p>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="feature-2">
                    <i class="flaticon-rocket"></i>
                    <h3>Intuitive Course Video</h3>
                    <p>You're in full control of your course, instructors, awards system and everything related to your eLearning platform. </p>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="feature-2">
                    <i class="flaticon-bar-chart"></i>
                    <h3>Easy Payment Method</h3>
                    <p>You're in full control of your course, instructors, awards system and everything related to your eLearning platform. </p>
                </div>
            </div>
       </div>
       <div class="row">
        <div class="col-xl-12">
            <div class="text-center mt-5">
                 <a href="#" class="btn btn-main rounded ">About us</a>
                 <a href="#" class="btn btn-main-2 rounded">Be a Teacher</a>
            </div>
        </div>
    </div>
      
    </div>
</section>
<!-- Feature End -->