<!-- Feature section start -->
<section class="feature  section-padding ">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-7 col-xl-4">
                <div class="section-heading ">
                    <span class="subtitle">Maximize your potentials</span>
                    <h3>Amazing features to convince you to use our <span class="text-style">application</span></h3>
                </div>
            </div>
            <div class="col-xl-7">
                <p>The purpose of lorem ipsum is to create a natural looking
                    block of text that doesn'tdistract from the layout laying out
                    pages with meaningle.</p>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-4 col-md-6 col-xl-3">
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="fa fa-sliders-h"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Instalaltion Guide</h4>
                        <p>Develop skills for career of various majors including computer</p>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 col-xl-3">
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="fa fa-user-headset"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Premium Support</h4>
                        <p>Develop skills for career of various majors including computer.</p>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 col-xl-3">
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="fa fa-money-check-alt"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Secured Payment</h4>
                        <p>Develop skills for career of various majors including language</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xl-3">
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="fa fa-analytics"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Track Your Move</h4>
                        <p>Develop skills for career of various majors including language</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature section End -->