<!-- Feature section start -->
<section class="feature section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-md-6 col-xl-6" >
                        <div class="feature-item mb-30 bg-1">
                            <div class="feature-icon">
                                <i class="flaticon-flag"></i>
                            </div>
                            <div class="feature-text">
                                <h4>Creative Solutions</h4>
                                <p>These companies release their own versions</p>
                            </div>
                        </div>
                        <div class="feature-item mb-30 bg-4">
                            <div class="feature-icon">
                                <i class="flaticon-video-camera"></i>
                            </div>
                            <div class="feature-text">
                                <h4>Fair Pricing</h4>
                                <p>These companies release their own versions</p>
                            </div>
                        </div>
                    </div>

                     <div class="col-md-6 col-xl-6">
                        <div class="feature-item mb-30 mt-30 bg-2">
                            <div class="feature-icon">
                                <i class="flaticon-layers"></i>
                            </div>
                            <div class="feature-text">
                                <h4>Expert Members</h4>
                                <p>These companies release their own versions</p>
                            </div>
                        </div>
                        <div class="feature-item mb-30 bg-3">
                            <div class="feature-icon">
                                <i class="flaticon-help"></i>
                            </div>
                            <div class="feature-text">
                                <h4>Ultra Performance</h4>
                                <p>These companies release their own versions </p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>

            <div class="col-xl-6">
                <div class="section-heading pl-4">
                    <span class="subheading text-uppercase letter-spacing font-sm-14">Maximize your potentials</span>
                    <h3 class="mb-4">Learn the secrets to Life Success</h3>
                    <p>The ultimate planning solution for people who want to reach their personal goals.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</p>
                    
                    <hr>
                    <p>Our Managed IT services will help you succeed.</p>
                
                    <span class="header-phone d-flex align-items-center mt-4">
                        <div class="header-icon bg-primary text-center text-white mr-3 rounded">
                            <i class="fas fa-phone"></i> 
                        </div>
                        <div>
                            <span>Quick Consult</span>
                            <h5 class="mb-0">+1 800 833 9780</h5>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature section End -->