<!-- Feature start -->
<section class="features-2 section-padding-btm pt-150">
    <div class="container">
       <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="feature-2 mb-5 mb-md-0">
                    <i class="flaticon-strategic-plan"></i>
                    <h4>Simple eLearning</h4>
                    <p>You're in full control of your course, instructors, awards system and everything related to your eLearning platform. </p>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="feature-2 mb-5 mb-md-0">
                    <i class="flaticon-rocket"></i>
                    <h4>Intuitive Course Video</h4>
                    <p>You're in full control of your course, instructors, awards system and everything related to your eLearning platform. </p>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="feature-2">
                    <i class="flaticon-bar-chart"></i>
                    <h4>Easy Payment Method</h4>
                    <p>You're in full control of your course, instructors, awards system and everything related to your eLearning platform. </p>
                </div>
            </div>
       </div>
    </div>
</section>
<!-- Feature End -->