<!-- Footer section start -->
<section class="footer-2 footer-3">
	<div class="shape-1"></div>
	<div class="shape-2"></div>
	<div class="shape-3"></div>
	
	<div class="footer-top">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
					<div class="row">
						<div class="col-lg-4 col-xl-4 col-sm-4 col-md-4 ">
							<div class="footer-widget mb-5 mb-lg-0">
								<h5 class="widget-title">Resources</h5>
								<ul class="list-unstyled footer-links">
									<li><a href="#">About us</a></li>
									<li><a href="#">Contact us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Support</a></li>
								</ul>
							</div>
						</div>
	
						<div class="col-lg-4 col-xl-4 col-sm-4 col-md-4">
							<div class="footer-widget mb-5 mb-lg-0">
								<h5 class="widget-title ">Products</h5>
								<ul class="list-unstyled footer-links">
									<li><a href="#">SEO Business</a></li>
									<li><a href="#">Digital Marketing</a></li>
									<li><a href="#">Graphic Design</a></li>
									<li><a href="#">Social Marketing</a></li>
								</ul>
							</div>
						</div>
	
						<div class="col-lg-4 col-xl-4 col-sm-4 col-md-4">
							<div class="footer-widget mb-5 mb-lg-0">
								<h5 class="widget-title">Legal</h5>
								<ul class="list-unstyled footer-links">
									<li><a href="#">Terms & Condition</a></li>
									<li><a href="#">Privacy policy</a></li>
									<li><a href="#">Return policy</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
	
				<div class="col-xl-4 col-lg-4">
					<div class="footer-widget footer-susbcribe mb-5 mb-lg-0">
						<h5 class="widget-title">Newsletter</h5>

						<form action="#" class="form-subscribe">
							<input type="text" class="form-control" placeholder="Enter your email address">
							<button>Sign up</button>
						</form>
						<ul class="list-inline footer-socials">
							<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i>facebook</a></li>
							<li class="list-inline-item"> <a href="#"><i class="fab fa-twitter"></i>twitter</a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i>linkedin</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-copyright">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-xl-6 col-lg-8 col-md-12">
					<div class="copyright text-lg-start text-center">
						<p>© 2021-Copyright Digico All rights reserved <a href="https://themeturn.com">theemux</a> </p>
					</div>
				</div>
				<div class="col-xl-6 col-lg-4 col-md-12">
					<div class="text-center text-lg-end">
						<ul class="list-inline footer-about">
							<li class="list-inline-item"><a href="#">terms & Condition</a></li>
							<li class="list-inline-item"> <a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Footer section End -->

<div class="fixed-btm-top">
	<a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>
