<!-- Footer section start -->
<section class="footer-2">
	<div class="footer-top">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-xl-3">
					<div class="footer-logo text-lg-left text-center mb-4 mb-lg-0">
						<img src="assets/images/light-logo.png" alt="Sassium" class="img-fluid">
					</div>
				</div>
				
				<div class="col-xl-6 col-lg-7 col-md-12 col-sm-12">
					<div class="row">
						<div class="col-lg-4 col-xl-4 col-sm-4 col-md-4 ">
							<div class="footer-widget mb-5 mb-lg-0">
								<h5 class="widget-title">Resources</h5>
								<ul class="list-unstyled footer-links">
									<li><a href="#">About us</a></li>
									<li><a href="#">Contact us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Support</a></li>
								</ul>
							</div>
						</div>
	
						<div class="col-lg-4 col-xl-4 col-sm-4 col-md-4">
							<div class="footer-widget mb-5 mb-lg-0">
								<h5 class="widget-title ">Products</h5>
								<ul class="list-unstyled footer-links">
									<li><a href="#">SEO Business</a></li>
									<li><a href="#">Digital Marketing</a></li>
									<li><a href="#">Graphic Design</a></li>
									<li><a href="#">Social Marketing</a></li>
								</ul>
							</div>
						</div>
	
						<div class="col-lg-4 col-xl-4 col-sm-4 col-md-4">
							<div class="footer-widget mb-5 mb-lg-0">
								<h5 class="widget-title">Legal</h5>
								<ul class="list-unstyled footer-links">
									<li><a href="#">Terms & Condition</a></li>
									<li><a href="#">Privacy policy</a></li>
									<li><a href="#">Return policy</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div v>
	
				<div class="col-xl-2">
					<div class="footer-widget footer-about mb-5 mb-lg-0">
						<h5 class="widget-title">About us</h5>
						<ul class="list-unstyled footer-info">
							<li>+(68) 345 5902</li>
							<li>info@yourdomain.com</li>
							<li>123 Fifth Floor East 26th Street,
								New York, NY 10011</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-copyright">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-xl-6 col-lg-8 col-md-12">
					<div class="copyright text-lg-start text-center">
						<p>© 2021-Copyright Sassium All rights reserved <a href="https://themeturn.com">Dreambuzz</a> </p>
					</div>
				</div>
				<div class="col-xl-6 col-lg-4 col-md-12">
					<div class="text-cenetr text-lg-end">
						<ul class="list-inline footer-socials">
							<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li class="list-inline-item"> <a href="#"><i class="fab fa-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Footer section End -->

<div class="fixed-btm-top">
	<a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>
