
<header>
    <div class="header-topbar topbar-style-1">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-8 col-lg-8">
                   <div class="header-contact">
                        <a href="#">Location</a>
                   </div>
                </div>

                <div class="col-xl-4 col-lg-8">
                    <div class="header-socials text-end">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-navbar">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="site-logo">
                    <a href="index.html">
                        <img src="assets/images/logo.png" alt="" class="img-fluid" />
                    </a>
                </div>

                <div class="offcanvas-icon d-block d-lg-none">
                    <a href="#" class="nav-toggler"><i class="fal fa-bars"></i></a> 
                </div>
        
                <nav class="site-navbar me-auto">
                    <div class="mobile-logo d-block d-lg-none">
                        <a href="index.html">
                        <img src="assets/images/logo.png" alt="" class="img-fluid" />
                        </a>
                    </div>

                    <ul class="primary-menu">
                        <li class="current">
                            <a href="index.html">Home</a>
                            <ul class="submenu">
                                <li><a href="index.html">Home One</a></li>
                                <li><a href="index-2.html">Home Two</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>

                        <li>
                            <a href="#">portfolio</a>
                            <ul class="submenu">
                                <li><a href="portfolio.html">Portfolio One</a></li>
                                <li><a href="portfolio-2.html">Portfolio Two</a></li>
                                <li><a href="portfolio-3.html">Portfolio Three</a></li>
                            </ul>
                        </li>


                        <li>
                            <a href="#">Pages</a>
                            <ul class="submenu">
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="about-2.html">About Two</a></li>
                                <li><a href="service.html">Services One</a></li>
                                <li><a href="service-2.html">Service Two</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="blog.html">Blog</a>
                            <ul class="submenu">
                                <li><a href="blog.html">Blog </a></li>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-grid-2.html">Blog Grid 2</a></li>
                                <li><a href="blog-grid-3.html">Blog Grid 3</a></li>
                                <li><a href="blog-single.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>

                    <a href="#" class="nav-close"><i class="fal fa-times"></i></a>
                </nav>

                <div class="header-info justify-content-end d-flex align-items-center header-info-style1">
                    <div class="header-cart">
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </div>

                    <div class="header-search ms-2">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                    <div class="header-btn ms-3">
                        <a href="#" class="btn btn-main btn-sm rounded">Log in <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--====== Header End ======-->