<section class="portfolio section-padding pb-4 pt-110">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-8">
                <div class="section-heading text-center">
                    <span class="subheading">Our Portfolio</span>
                    <h2 class="title_text text_effect_wrap clearfix">
                        <span class="text_effect text_effect_left">Our Latest Works</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="portfolio-single">
                    <div class="portfolio-img">
                        <img src="assets/images/portfolio/01.jpg" alt="" class="img-fluid">
                        <div class="overlay-content">
                            <span>Design</span>
                            <h4><a href="#">marketing Website</a></h4>
                        </div>
                        <div class="overlay-icon">
                            <a href="assets/images/portfolio/01.jpg" class="popup"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="portfolio-single">
                    <div class="portfolio-img">
                        <img src="assets/images/portfolio/02.jpg" alt="" class="img-fluid">
                        <div class="overlay-content">
                            <span>Design</span>
                            <h4><a href="#">marketing Website</a></h4>
                        </div>
                        <div class="overlay-icon">
                            <a href="assets/images/portfolio/02.jpg" class="popup"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="portfolio-single">
                    <div class="portfolio-img">
                        <img src="assets/images/portfolio/03.jpg" alt="" class="img-fluid">
                        <div class="overlay-content">
                            <span>Design</span>
                            <h4><a href="#">marketing Website</a></h4>
                        </div>
                        <div class="overlay-icon">
                            <a href="assets/images/portfolio/03.jpg" class="popup"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-md-6">
                <div class="portfolio-single">
                    <div class="portfolio-img">
                        <img src="assets/images/portfolio/04.jpg" alt="" class="img-fluid">
                        <div class="overlay-content">
                            <span>Design</span>
                            <h4><a href="#">marketing Website</a></h4>
                        </div>
                        <div class="overlay-icon">
                            <a href="assets/images/portfolio/04.jpg" class="popup"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="text-center mt-5">
                    <p>Have Project to discuss with us? <a href="#" class="text-decoration-underline">See All portfolio</a></p>
                </div>
            </div>
        </div>
    </div>
</section>