<section class="portfolio-2 section-padding ">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6">
                <div class="section-heading">
                    <span class="subtitle">Our Portfolio</span>
                    <h3>Our Latest Works</h3>
                </div>
            </div>

            <div class="col-xl-6">
                <ul class="portfolio-filter">
                    <li class="active"><a href="#" data-filter="*">All</a></li>
                    <li> <a href="#" class="filter" data-filter="design">Design</a></li>
                    <li> <a href="#" class="filter" data-filter="development">development</a></li>
                    <li> <a href="#" class="filter" data-filter="ui">UI</a></li>
                </ul>
            </div>
        </div>

    
        <div class="row align-items-center justify-content-center">
            <div class="text-center">
                
            </div>
        </div>
            
        <div class="row portfolio-gallery">
            <div class="portfolio-single col-lg-4 design">
                <div class="portfolio-img">
                    <img src="assets/images/portfolio/01.jpg" alt="" class="img-fluid">
                    <div class="overlay-content">
                        <span>Design</span>
                        <h4><a href="#">marketing Website</a></h4>
                    </div>
                    <div class="overlay-icon">
                        <a href="assets/images/portfolio/01.jpg" class="popup"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="portfolio-single col-lg-4 development">
                <div class="portfolio-img">
                    <img src="assets/images/portfolio/02.jpg" alt="" class="img-fluid">
                    <div class="overlay-content">
                        <span>development</span>
                        <h4>marketing Website</h4>
                    </div>
                    <div class="overlay-icon">
                        <a href="assets/images/portfolio/02.jpg" class="popup"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="portfolio-single col-lg-4 ui design">
                <div class="portfolio-img">
                    <img src="assets/images/portfolio/03.jpg" alt="" class="img-fluid">
                    <div class="overlay-content">
                        <span>Design</span>
                        <h4>marketing Website</h4>
                    </div>
                    <div class="overlay-icon">
                        <a href="assets/images/portfolio/03.jpg" class="popup"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="portfolio-single col-lg-4 design">
                <div class="portfolio-img">
                    <img src="assets/images/portfolio/06.jpg" alt="" class="img-fluid">
                    <div class="overlay-content">
                        <span>marketing</span>
                        <h4><a href="#">marketing Website</a></h4>
                    </div>
                    <div class="overlay-icon">
                        <a href="assets/images/portfolio/06.jpg" class="popup"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="portfolio-single col-lg-4 development">
                <div class="portfolio-img">
                    <img src="assets/images/portfolio/05.jpg" alt="" class="img-fluid">
                    <div class="overlay-content">
                        <span>Ui</span>
                        <h4>marketing Website</h4>
                    </div>
                    <div class="overlay-icon">
                        <a href="assets/images/portfolio/05.jpg" class="popup"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="portfolio-single col-lg-4 ui design">
                <div class="portfolio-img">
                    <img src="assets/images/portfolio/04.jpg" alt="" class="img-fluid">
                    <div class="overlay-content">
                        <span>Design</span>
                        <h4>marketing Website</h4>
                    </div>
                    <div class="overlay-icon">
                        <a href="assets/images/portfolio/04.jpg" class="popup"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="text-center mt-5">
                    <p>Have Project to discuss with us? <a href="#" class="text-decoration-underline">See All portfolio</a></p>
                </div>
            </div>
        </div>
    </div>
</section>