<section class="pricing section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="heading">
                    <h2>No Hidden Charges!</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-lg-4 col-md-6 col-xl-4">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <!-- <span>Starter Pack</span> -->
                        <h4>Starter</h4>
                    </div>
                    <div class="price">
                        <h2>$29.99 <small>/ Per Month</small></h2>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li><i class="fa fa-check"></i><span>25 Analytics</span> Campaign</li>
                            <li><i class="fa fa-check"></i><span>500</span> Change Keywords</li>
                            <li><i class="fa fa-check"></i><span>25 Social Media</span> Reviews</li>
                            <li><i class="fa fa-check"></i><span>Free</span> Optimization</li>
                            <li><i class="fa fa-check"></i><span>24/7</span> Support</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-solid-border btn-radius">Order Now <i class="fa fa-angle-right ml-2"></i></a>
                    <p>*No Credit Card Required</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xl-4">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <!-- <span>Starter Pack</span> -->
                        <h4>Professional</h4>
                    </div>
                    <div class="price">
                        <h2>$49.99 <small>/ Per Month</small></h2>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li><i class="fa fa-check"></i><span>25 Analytics</span> Campaign</li>
                            <li><i class="fa fa-check"></i><span>500</span> Change Keywords</li>
                            <li><i class="fa fa-check"></i><span>25 Social Media</span> Reviews</li>
                            <li><i class="fa fa-check"></i><span>Free</span> Optimization</li>
                            <li><i class="fa fa-check"></i><span>24/7</span> Support</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-solid-border btn-radius">Order Now <i class="fa fa-angle-right ml-2"></i></a>
                    <p>*No Credit Card Required</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xl-4">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <!-- <span>Starter Pack</span> -->
                        <h4>Premium</h4>
                    </div>
                    <div class="price">
                        <h2>$79.99 <small>/ Per Month</small></h2>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li><i class="fa fa-check"></i><span>25 Analytics</span> Campaign</li>
                            <li><i class="fa fa-check"></i><span>500</span> Change Keywords</li>
                            <li><i class="fa fa-check"></i><span>25 Social Media</span> Reviews</li>
                            <li><i class="fa fa-check"></i><span>Free</span> Optimization</li>
                            <li><i class="fa fa-check"></i><span>24/7</span> Support</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-solid-border btn-radius">Order Now <i class="fa fa-angle-right ml-2"></i></a>
                    <p>*No Credit Card Required</p>
                </div>
            </div>
        </div>
    </div>
</section>