<section class="pricing section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-heading text-center">
                    <span class="subheading">Our pricing plan</span>
                    <h2 class="title_text text_effect_wrap clearfix">
                        <span class="text_effect text_effect_left">Affordable Pricing plan</span>
                    </h2>
                </div>
            </div>
        </div>


        <div class="row ">
            <div class="col-lg-4 col-md-6 col-xl-4">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <span class="badge">Starter</span>
                    </div>
                    <div class="price">
                        <h2>$19.99 <small>/ Month</small></h2>
                        <span>Suitable for <strong>starter</strong></span>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li><i class="icofont icofont-check"></i><span>25 Analytics</span> Campaign</li>
                            <li><i class="icofont icofont-check"></i><span>500</span> Change Keywords</li>
                            <li><i class="icofont icofont-check"></i><span>25 Social Media</span> Reviews</li>
                            <li><i class="icofont icofont-check"></i><span>Free</span> Optimization</li>
                            <li><i class="icofont icofont-check"></i><span>24/7</span> Support</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-main btn-radius">Order Now <i class="fa fa-angle-right ml-2"></i></a>
                    <p class="mb-0">*No Credit Card Required</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xl-4">
                <div class="pricing-item featured">
                    <div class="pricing-header">
                        <span class="badge">Professional</span>
                    </div>
                    <div class="price">
                        <h2>$29.99 <small>/ Month</small></h2>
                        <span>Suitable for <strong>Agency</strong></span>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li><i class="icofont icofont-check"></i><span>25 Analytics</span> Campaign</li>
                            <li><i class="icofont icofont-check"></i><span>500</span> Change Keywords</li>
                            <li><i class="icofont icofont-check"></i><span>25 Social Media</span> Reviews</li>
                            <li><i class="icofont icofont-check"></i><span>Free</span> Optimization</li>
                            <li><i class="icofont icofont-check"></i><span>24/7</span> Support</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-main btn-radius">Order Now <i class="fa fa-angle-right ml-2"></i></a>
                    <p class="mb-0">*No Credit Card Required</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xl-4">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <span class="badge">Premium</span>
                    </div>
                    <div class="price">
                        <h2>$39.99 <small>/ Month</small></h2>
                        <span>Suitable for <strong>Business</strong> </span>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li><i class="icofont icofont-check"></i><span>25 Analytics</span> Campaign</li>
                            <li><i class="icofont icofont-check"></i><span>500</span> Change Keywords</li>
                            <li><i class="icofont icofont-check"></i><span>25 Social Media</span> Reviews</li>
                            <li><i class="icofont icofont-check"></i><span>Free</span> Optimization</li>
                            <li><i class="icofont icofont-check"></i><span>24/7</span> Support</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-main btn-radius">Order Now <i class="fa fa-angle-right ml-2"></i></a>
                    <p class="mb-0">*No Credit Card Required</p>
                </div>
            </div>
        </div>
    </div>
</section>