<section class="pricing section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-8">
                <div class="section-heading">
                    <span class="subheading">Our pricing plan</span>
                    <h2 class="title_text text_effect_wrap clearfix">
                        <span class="text_effect text_effect_left">Affordable Pricing plan</span>
                    </h2>
                </div>

                <nav class="nav nav-pills pricing-tab ">
                    <a class="nav-item nav-link active" data-bs-toggle="tab" href="#monthlyPricing" id="monthlyPricingTab">Mothly billing</a>
                    <a class="nav-item nav-link" data-bs-toggle="tab" href="#yearlyPricing" id="yearlyPricingTab">Annually billings</a>
                </nav>
            </div>
        </div>

        <div class="tab-content" id="pricingTab">
            <div class="tab-pane fade active show" id="monthlyPricing" role="tabpanel" aria-labelledby="monthlyPricingTab">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xl-4">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <span class="badge">Popular</span>
                                <p>starter</p>
                            </div>
                            <div class="price">
                                <h2>$19.99 <small>/ mo</small></h2>
                                <span>Suitable for <strong>starter</strong></span>
                            </div>
                            
                            <div class="pricing-features">
                                <ul>
                                    <li><i class="icofont icofont-check"></i><span>25 Analytics</span> Campaign</li>
                                    <li><i class="icofont icofont-check"></i><span>500</span> Change Keywords</li>
                                    <li><i class="icofont icofont-check"></i><span>25 Social Media</span> Reviews</li>
                                    <li><i class="icofont icofont-check"></i><span>Free</span> Optimization</li>
                                    <li><i class="icofont icofont-check"></i><span>24/7</span> Support</li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-solid-border btn-radius">Order Now <i class="fa fa-angle-right ml-2"></i></a>
                            <p class="mb-0">*No Credit Card Required</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xl-4">
                        <div class="pricing-item featured">
                            <div class="pricing-header">
                                <p>Professional</p>
                            </div>
                            <div class="price">
                                <h2>$29.99<small>/ mo</small></h2>
                                <span>Suitable for <strong>Agency</strong></span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><i class="icofont icofont-check"></i><span>25 Analytics</span> Campaign</li>
                                    <li><i class="icofont icofont-check"></i><span>500</span> Change Keywords</li>
                                    <li><i class="icofont icofont-check"></i><span>25 Social Media</span> Reviews</li>
                                    <li><i class="icofont icofont-check"></i><span>Free</span> Optimization</li>
                                    <li><i class="icofont icofont-check"></i><span>24/7</span> Support</li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-solid-border btn-radius">Order Now <i class="fa fa-angle-right ml-2"></i></a>
                            <p class="mb-0">*No Credit Card Required</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xl-4">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <p>Premium</p>
                            </div>
                            <div class="price">
                                <h2>$39.99 <small>/ mo</small></h2>
                                <span>Suitable for <strong>Business</strong> </span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><i class="icofont icofont-check"></i><span>25 Analytics</span> Campaign</li>
                                    <li><i class="icofont icofont-check"></i><span>500</span> Change Keywords</li>
                                    <li><i class="icofont icofont-check"></i><span>25 Social Media</span> Reviews</li>
                                    <li><i class="icofont icofont-check"></i><span>Free</span> Optimization</li>
                                    <li><i class="icofont icofont-check"></i><span>24/7</span> Support</li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-solid-border btn-radius">Order Now <i class="fa fa-angle-right ml-2"></i></a>
                            <p class="mb-0">*No Credit Card Required</p>
                        </div>
                    </div>
                </div>
            </div>

             <div class="tab-pane fade" id="yearlyPricing" role="tabpanel" aria-labelledby="yearlyPricingTab">
                <div class="row ">
                    <div class="col-lg-4 col-md-6 col-xl-4">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <span class="badge">Popular</span>
                                <p>starter</p>
                            </div>
                            <div class="price">
                                <h2>$199.99 <small>/ yr</small></h2>
                                <span>Suitable for <strong>starter</strong></span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><i class="icofont icofont-check"></i><span>25 Analytics</span> Campaign</li>
                                    <li><i class="icofont icofont-check"></i><span>500</span> Change Keywords</li>
                                    <li><i class="icofont icofont-check"></i><span>25 Social Media</span> Reviews</li>
                                    <li><i class="icofont icofont-check"></i><span>Free</span> Optimization</li>
                                    <li><i class="icofont icofont-check"></i><span>24/7</span> Support</li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-solid-border btn-radius">Order Now <i class="fa fa-angle-right ml-2"></i></a>
                            <p class="mb-0">*No Credit Card Required</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xl-4">
                        <div class="pricing-item featured">
                            <div class="pricing-header">
                                <p>Professional</p>
                            </div>
                            <div class="price">
                                <h2>$329.99<small>/ yr</small></h2>
                                <span>Suitable for <strong>Agency</strong></span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><i class="icofont icofont-check"></i><span>25 Analytics</span> Campaign</li>
                                    <li><i class="icofont icofont-check"></i><span>500</span> Change Keywords</li>
                                    <li><i class="icofont icofont-check"></i><span>25 Social Media</span> Reviews</li>
                                    <li><i class="icofont icofont-check"></i><span>Free</span> Optimization</li>
                                    <li><i class="icofont icofont-check"></i><span>24/7</span> Support</li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-solid-border btn-radius">Order Now <i class="fa fa-angle-right ml-2"></i></a>
                            <p class="mb-0">*No Credit Card Required</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xl-4">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <p>Premium</p>
                            </div>
                            <div class="price">
                                <h2>$439.99<small>/ yr</small> </h2>
                                <span>Suitable for <strong>Business</strong> </span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><i class="icofont icofont-check"></i><span>25 Analytics</span> Campaign</li>
                                    <li><i class="icofont icofont-check"></i><span>500</span> Change Keywords</li>
                                    <li><i class="icofont icofont-check"></i><span>25 Social Media</span> Reviews</li>
                                    <li><i class="icofont icofont-check"></i><span>Free</span> Optimization</li>
                                    <li><i class="icofont icofont-check"></i><span>24/7</span> Support</li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-solid-border btn-radius">Order Now <i class="fa fa-angle-right ml-2"></i></a>
                            <p class="mb-0">*No Credit Card Required</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>