<section class="process section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6 col-xl-7">
               <div class="section-heading mb-40">
                   <span class="text-uppercase letter-spacing font-sm-14 text-primary">our digital marketing process</span>
                    <h3 class="mb-3">6 Easy Steps to Get a Website </h3>
                    <p>If you’re satisfied with your current state and have no aim to reach more customers, engage more people, and grab the attention of your potential customers,</p>
               </div>

               <div class="row">
                   <div class="col-xl-6">
                        <div class="process-item">
                            <div class="d-flex align-items-center">
                                <div class="circle icon-bg ">
                                    <i class="fa fa-leaf"></i>
                                </div>
                                <h4>Full Reaserach </h4>
                            </div>
                        </div>
        
                        <div class="process-item">
                            <div class="d-flex align-items-center">
                                <div class="circle icon-bg ">
                                    <i class="fa fa-leaf"></i>
                                </div>
                                <h4>Develop Strategy</h4>
                            </div>
                        </div>
                        <div class="process-item">
                            <div class="d-flex align-items-center">
                                <div class="circle icon-bg ">
                                    <i class="fa fa-leaf"></i>
                                </div>
                                <h4>Content Develop</h4>
                            </div>
                        </div>
                   </div>

                   <div class="col-xl-6">
                        <div class="process-item">
                            <div class="d-flex align-items-center">
                                <div class="circle icon-bg ">
                                    <i class="fa fa-leaf"></i>
                                </div>
                                <h4>Design</h4>
                            </div>
                        </div>
                    
                        <div class="process-item">
                            <div class="d-flex align-items-center">
                                <div class="circle icon-bg ">
                                    <i class="fa fa-leaf"></i>
                                </div>
                                <h4>QA Testing</h4>
                            </div>
                        </div>
                    <div class="process-item">
                            <div class="d-flex align-items-center">
                                <div class="circle icon-bg ">
                                    <i class="fa fa-leaf"></i>
                                </div>
                                <h4>Site Launch</h4>
                            </div>
                        </div>
                   </div>
               </div>
                
                <p class="mt-4">Our Managed IT services will help you succeed. <a href="#">Let’s get started</a></p>
            </div>

            <div class="col-xl-5">
                <div class="process-img">
                    <img src="assets/images/bg/section-img.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>