<!-- Servcie section Start -->
<section class="service section-padding">
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-heading text-center">
                    <span class="subheading">We are cretaive agency</span>
                    <h2 class="title_text text_effect_wrap clearfix">
                        <span class="text_effect text_effect_left">Perfect Solution For Your Business</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xl-3">
                        <div class="service-item">
                           <img src="assets/images/about/s-1.jpg" alt="" class="img-fluid">
                            <h4>Analytics and Research</h4>
                            <p>Behind the word mountains, far from the countries Vokalia</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-3">
                        <div class="service-item">
                            <img src="assets/images/about/s-2.jpg" alt="" class="img-fluid">
                            <h4>Digital Product Marketing</h4>
                            <p>Behind the word mountains, far from the countries Vokalia</p>
                        </div>
                    </div> 
                    <div class="col-lg-6 col-md-6 col-xl-3">
                        <div class="service-item">
                            <img src="assets/images/about/s-3.jpg" alt="" class="img-fluid">
                            <h4>Design & Development</h4>
                            <p>Behind the word mountains, far from the countries Vokalia</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-3">
                        <div class="service-item">
                            <img src="assets/images/about/s-3.jpg" alt="" class="img-fluid">
                            <h4>Design & Development</h4>
                            <p>Behind the word mountains, far from the countries Vokalia</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <p>Have Project to discuss with us? <a href="#">Contact Us</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Servcie section end -->