<!-- Servcie section Start -->
<section class="service-2 section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-heading text-center">
                    <span class="subtitle">Core Services</span>
                    <h3 class="mb-30">Our Core <span class="text-style">Services</span></h3>
                    <p>The purpose of lorem ipsum is to create a natural looking block of text that doesn'tdistract
                        from the layout laying out pages with meaningle</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-6">
                <div class="service-style-2">
                    <div class="icon--top bg-1">
                        <i class="far fa-analytics"></i>
                    </div>
                   
                    <h4>Digital Marketing</h4>
                    <p>Behind the word mountains, far from the countries Vokalia and Conson antia, there seed</p>
                </div>
            </div>
             <div class="col-xl-4 col-md-6 col-lg-6">
                <div class="service-style-2">
                    <div class="icon--top bg-2">
                        <i class="fas fa-ad"></i>
                    </div>
                    
                    <h4>Blogging Adsense</h4>
                    <p>Behind the word mountains, far from the countries Vokalia and Conson antia, there seed</p>
                </div>
            </div>
             <div class="col-xl-4 col-md-6 col-lg-6">
                <div class="service-style-2">
                    <div class="icon--top bg-3">
                        <i class="fad fa-layer-group"></i>
                    </div>
                    
                    <h4>Design & Development</h4>
                    <p>Behind the word mountains, far from the countries Vokalia and Conson antia, there seed</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-6">
                <div class="service-style-2">
                    <div class="icon--top bg-4">
                        <i class="far fa-server"></i>
                    </div>
                    
                    <h4>CMS Solution</h4>
                    <p>Behind the word mountains, far from the countries Vokalia and Conson antia, there seed</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-6">
                <div class="service-style-2">
                    <div class="icon--top bg-5">
                        <i class="fad fa-chart-pie"></i>
                    </div>
                    
                    <h4>Traffic Analysis</h4>
                    <p>Behind the word mountains, far from the countries Vokalia and Conson antia, there seed</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-6">
                <div class="service-style-2">
                    <div class="icon--top bg-6">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    
                    <h4>Content Writing</h4>
                    <p>Behind the word mountains, far from the countries Vokalia and Conson antia, there seed</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Servcie section end -->