<!-- Team section start -->
<section class="team section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="heading text-center mb-50">
                    <span class="subheading">Best Expert Team</span>
                    <h2 class="font-lg">Our Professional Team</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-item mb-4 mb-lg-0">
                    <div class="team-img">
                        <img src="assets/images/team/team-4.jpg" alt="" class="img-fluid">
                        <ul class="team-socials list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <h4>Harish Ham</h4>
                        <p>CEO, Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-item mb-4 mb-lg-0">
                    <div class="team-img">
                        <img src="assets/images/team/team-1.jpg" alt="" class="img-fluid">
                        <ul class="team-socials list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <h4>Tanvir Hasan</h4>
                        <p>Market Researcher</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-item mb-4 mb-lg-0">
                    <div class="team-img">
                        <img src="assets/images/team/team-2.jpg" alt="" class="img-fluid">
                        <ul class="team-socials list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <h4>Mikele John</h4>
                        <p>Content Writter</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/images/team/team-3.jpg" alt="" class="img-fluid">
                        <ul class="team-socials list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <h4>Mikele John</h4>
                        <p>Content Writter</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="text-center">
                    Want to help people learn, grow and achieve more in life? <a href="#" class="text-decoration-underline fw-bold">Become an instructor</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team section End -->