<!-- Testimonial section start -->
<section class="testimonial-4 section-padding bg-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section-heading text-center mb-50">
                    <h2 class="font-lg">Our Students Says</h2>
                    <p>Discover Your Perfect Program In Our Courses.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12 col-xl-12">
                <div class="testimonials-slides owl-carousel owl-theme">
                    <div class="testimonial-item">
                       <div class="testimonial-inner">
                           <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                           
                            <div class="testimonial-text mb-30">
                                Cras vel purus fringilla, lobortis libero ut Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="assets/images/clients/testimonial-avata-01.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Cory Zamora</h4>
                                    <span class="meta">Marketing Specialist</span>
                                </div>
                            </div>
                       </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                           
                            <div class="testimonial-text  mb-30">
                                Cras vel purus fringilla, lobortis libero ut Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="assets/images/clients/testimonial-avata-02.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Jackie Sanders</h4>
                                    <span class="meta">Marketing Manager</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                          
                            <div class="testimonial-text  mb-30">
                                Cras vel purus fringilla, lobortis libero ut Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="assets/images/clients/testimonial-avata-03.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Nikolas Brooten</h4>
                                    <span class="meta">Sales Manager</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                            
                            <div class="testimonial-text mb-30">
                                Cras vel purus fringilla, lobortis libero ut Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="assets/images/clients/testimonial-avata-04.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Terry Ambady</h4>
                                    <span class="meta">Marketing Manager</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                            
                            <div class="testimonial-text mb-30">
                                Cras vel purus fringilla, lobortis libero ut Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="assets/images/clients/testimonial-avata-03.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Nikolas Brooten</h4>
                                    <span class="meta">Sales Manager</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section End -->