<!-- Testimonial section start -->
<section class="testimonial section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-8">
                <div class="heading text-center mb-50">
                    <span class="subheading">Students Feedback</span>
                    <h2 class="font-lg">Love From Students</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-xl-12">
                <div class="testimonials-slides owl-carousel owl-theme">
                    <div class="testimonial-item">
                        <div class="testimonial-text">
                            Cras vel purus fringilla, lobortis libero ut, interdum lacus. Ut quis urna sollicitudin, iaculis dolor sed, sodales mi. Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                        </div>
                        <div class="client-info">
                            <div class="client-img">
                                <img src="assets/images/clients/client-1.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="testimonial-author">
                                <h5>Terry Figueroa</h5>
                                <span>Marketing Manager</span>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-text">
                            Cras vel purus fringilla, lobortis libero ut, interdum lacus. Ut quis urna sollicitudin, iaculis dolor sed, sodales mi. Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                        </div>
                        <div class="client-info">
                            <div class="client-img">
                                <img src="assets/images/clients/client-2.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="testimonial-author">
                                <h5>Terry Figueroa</h5>
                                <span>Marketing Manager</span>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-text">
                            Cras vel purus fringilla, lobortis libero ut, interdum lacus. Ut quis urna sollicitudin, iaculis dolor sed, sodales mi. Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                        </div>
                        <div class="client-info">
                            <div class="client-img">
                                <img src="assets/images/clients/client-1.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="testimonial-author">
                                <h5>Terry Figueroa</h5>
                                <span>Marketing Manager</span>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-text">
                            Cras vel purus fringilla, lobortis libero ut, interdum lacus. Ut quis urna sollicitudin, iaculis dolor sed, sodales mi. Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo.
                        </div>

                        <div class="client-info">
                            <div class="client-img">
                                <img src="assets/images/clients/client-2.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="testimonial-author">
                                <h5>Terry Figueroa</h5>
                                <span>Marketing Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section End -->