<!--Video section start-->
<section class="video-section" >
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10 col-xl-6">
                <div class="video-content">
                    <img src="assets/images/bg/office01.jpg" alt="" class="img-fluid">

                    <a href="#" class="video-icon video-popup"><i class="fa fa-play"></i></a>

                    <h2>Watch This Video Presentation To Know More</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Video section end-->