<!-- About Section Start -->
<section class="work-process-2 section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-heading text-center">
                    <span class="subtitle text-white">Cretaive agency</span>
                    <h3 class="mb-30 text-white">How we work</span></h3>
                    <p class="text-white-50">The purpose of lorem ipsum is to create a natural looking block of text that doesn'tdistract
                        from the layout laying out pages with meaningle</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="work-process bg-white rounded mb-4 mb-lg-0">
                    <div class="icon-box bg-orange">
                        <i class="flaticon-strategic-plan"></i>
                    </div>
                   
                    <div class="work-process-desc">
                        <h4>Concept Planning</h4>
                        <p>The right mentoring relationship can be a powerful tool for professional growth.</p>
                    </div>
                    <a href="#" class="learn-more">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>


            <div class="col-xl-4 col-lg-4">
                <div class="work-process featured rounded mb-4 mb-lg-0">
                    <div class="icon-box bg-blue">
                        <i class="flaticon-web-browser"></i>
                    </div>
                   
                    <div class="work-process-desc">
                        <h4>Development</h4>
                        <p>The right mentoring relationship can be a powerful tool for professional growth.</p>
                    </div>
                    <a href="#" class="learn-more">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="work-process bg-white rounded">
                    <div class="icon-box bg-purple">
                        <i class="flaticon-rocket"></i>
                    </div>

                    <div class="work-process-desc">
                        <h4>Project Launch</h4>
                        <p>The right mentoring relationship can be a powerful tool for professional growth.</p>
                    </div>
                    <a href="#" class="learn-more">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->