<!-- About Section Start -->
<section class="work-process-section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-heading text-center">
                    <span class="subheading">We are cretaive agency</span>
                    <h2 class="title_text text_effect_wrap clearfix">
                        <span class="text_effect text_effect_left">Why choose us</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="work-process text_effect_hover">
                    <div class="process-icon">
                        <div class="icon-box">
                            <i class="flaticon-video-camera"></i>
                        </div>
                        <span>01</span>
                    </div>
                   
                    <div class="work-process-desc">
                        <h4>Concept Planning</h4>
                        <p>The right mentoring relationship can be a powerful tool for professional growth.</p>
                    </div>
                </div>
            </div>


            <div class="col-xl-4 col-lg-4">
                <div class="work-process ">
                    <div class="process-icon">
                        <div class="icon-box">
                            <i class="flaticon-flag"></i>
                        </div>
                        <span>02</span>
                    </div>
                   
                    <div class="work-process-desc">
                        <h4>Development</h4>
                        <p>The right mentoring relationship can be a powerful tool for professional growth.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="work-process text_effect_hover">
                    <div class="process-icon">
                        <div class="icon-box">
                            <i class="flaticon-video-camera"></i>
                        </div>
                        <span>03</span>
                    </div>

                    <div class="work-process-desc">
                        <h4>Project Launch</h4>
                        <p>The right mentoring relationship can be a powerful tool for professional growth.</p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-xl-6 col-lg-6">
                <div class="about-img">
                    <img src="assets/images/bg/about-image.jpg" alt="" class="img-fluid">
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- About Section End -->