<!-- Work Process Section Start -->
<section class="work-process-section">
    <div class="container">
    
        <div class="row work-process-wrapper mt-30">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="step-item ">
                    <div class="step-number">01</div>
                     <div class="step-text">
                         <h5>Signup with all info</h5>
                         <p>Lorem ipsum dolor seat ameat dui too consecteture elite adipaising.</p>
                     </div>
                 </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="step-item ">
                    <div class="step-number">02</div>
                     <div class="step-text">
                         <h5>Take your Admission</h5>
                         <p>Lorem ipsum dolor seat ameat dui too consecteture elite adipaising.</p>
                     </div>
                 </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="step-item ">
                    <div class="step-number">03</div>
                    <div class="step-text">
                        <h5>Learn from online </h5>
                        <p>Lorem ipsum dolor seat ameat dui too consecteture elite adipaising.</p>
                    </div>
                </div>
            </div>

             <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="step-item">
                    <div class="step-number">04</div>
                    <div class="step-text">
                        <h5>Get certificate</h5>
                        <p>Lorem ipsum dolor seat ameat dui too consecteture elite adipaising.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Work Process Section End -->