<!-- Work Process Section Start -->
<section class="work-process-section">
    <div class="container">
        <div class="row mb-70 justify-content-between">
            <div class="col-xl-5">
                <div class="section-heading text-center text-lg-start mb-4 mb-xl-0">
                    <span class="subheading">How to Start</span>
                    <h2 class="font-lg">4 steps start your journey with us</h2>
                </div>
            </div>
            <div class="col-xl-6">
                <p class="text-center text-lg-start">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. 
                    Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="step-wrapper">
                    <div class="step-item ">
                        <div class="step-number bg-1">01</div>
                        <div class="step-text">
                            <h5>Signup with all info</h5>
                            <p>Lorem ipsum dolor seat ameat dui too consecteture elite adipaising.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3  col-lg-6 col-md-6">
                <div class="step-wrapper">
                    <div class="step-item">
                        <div class="step-number bg-2">02</div>
                        <div class="step-text">
                            <h5>Take your Admission</h5>
                            <p>Lorem ipsum dolor seat ameat dui too consecteture elite adipaising.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3  col-lg-6 col-md-6">
                <div class="step-wrapper">
                    <div class="step-item">
                        <div class="step-number bg-3">03</div>
                        <div class="step-text">
                            <h5>Learn from online </h5>
                            <p>Lorem ipsum dolor seat ameat dui too consecteture elite adipaising.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3  col-lg-6 col-md-6">
                <div class="step-wrapper">
                    <div class="step-item">
                        <div class="step-number bg-2">04</div>
                        <div class="step-text">
                            <h5>Get certificate</h5>
                            <p>Lorem ipsum dolor seat ameat dui too consecteture elite adipaising.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Work Process Section End -->